{{/* 
    Called by person.html
    . of current template corresponds to . of person.html
*/}}

{{$bc := .Details.Person.Acts.Birth}}
{{/* <pre>{{$bc | prettyPrint}}</pre> */}}

<div class="flex-wrap">

    <div class="padding-right2 border-right">
        <!-- ********************************************************************************* -->
        <h2>Transcription</h2>
        Informations transcribed from this document
        {{with .Details.Person}}
        <table class="table-pres">
            <tr>
                <td>Official family name</td>
                <td>{{.Name.Official.Family}}</td>
            </tr>
            <tr>
                <td>Official given name</td>
                <td>{{.Name.Official.Given}}</td>
            </tr>
            <tr>
                <td>Birth date</td>
                <td>{{.Birth.Date}}</td>
            </tr>
            <tr>
                <td>Birth place</td>
                <td>{{.Birth.Place.Name}}</td>
            </tr>
            {{if .Birth.Note}}
            <tr>
                <td>Notes</td>
                <td>{{.Birth.Note}}</td>
            </tr>
            {{end}}
        </table>
        {{end}} {{/* with .Details.Person */}}
        
    </div>

    <div class="border-left padding-left2">
        <!-- ********************************************************************************* -->
        <h2>Information source</h2>
        {{with $bc.Source.CivilRegistry}}
        <table class="table-pres">
            <tr>
                <td>Type</td>
                <td>Birth certificate</td>
            </tr>
            {{if .Name}}
            <tr>
                <td>Name</td>
                <td>{{.Name}}</td>
            </tr>
            {{end}}
            <tr>
            {{if .Place}}
                <td>Place</td>
                <td>
                    {{if .Place.Name}}{{.Place.Name}}{{end}}
                    {{if .Place.C1}}, {{.Place.C1}}{{end}}
                    {{if .Place.C2}}, {{.Place.C2}}{{end}}
                    {{if .Place.C3}} ({{.Place.C3}}){{end}}
                </td>
            </tr>
            {{end}}
            {{if .Web}}
            <tr>
                <td>Internet availability</td>
                <td>
                    {{if .Web.URL}}
                        <div><a href="{{.Web.URL}}">Online civil registry</a></div>
                    {{end}}
                    {{if .Web.Page}}
                        <div>Page {{.Web.Page}}</div>
                    {{end}}
                </td>
            </tr>
            {{end}}
            
        </table>
        {{end}}{{/* end with $bc.Source.CivilRegistry */}}
        {{with $bc.Source.Notes}}
            <div>{{. | safeHTML}}</div>
        {{end}}
    </div>
    
</div><!-- end flex-wrap -->

<div>
    {{if .Details.HasBC}}
        {{with .Details.WikiProjects}}
            <!-- ********************************************************************************* -->
            <h2>OGDB integration</h2>
            The addition of this birth certificate in opengauquelin database is part of the following <a href="/wiki">wiki projects</a>: 
            <ul class="margin-top0">
            {{range . }}
                <li><a href="/wiki/project/{{.Slug}}">{{.Name}}</a></li>
            {{end}}
        {{end}}
        </ul>
    {{end}}
</div>

<!-- ********************************************************************************* -->
<!--                                    Act images                                     -->
<!-- ********************************************************************************* -->
{{if .Details.BCImageURLs}}
    {{range .Details.BCImageURLs}}
        <div><img
            class="margin05 border"
            style="max-width:90%; height:auto; width:auto;"
            src="{{.}}" alt="Original birth certificate">
        </div>
    {{end}}
{{end}}

<!-- ************************************* -->
<h3>History of this document</h3>
{{if $bc.Header.History}}{{with $bc.Header.History}}
    <ul class="margin-top0">
    {{ range $key, $value := . }}
        <li>{{.Date}}, {{.Actor}}: {{.Action}} </li>
    {{end}}
    </ul>
{{end}}{{end}}

