#
# Configuration for Open Gauquelin Database frontend
#

# go web server parameters
run:
  url: 127.0.0.1
  port: 2468
  # "dev" or "prod"
  mode: dev

# Url to connect to postgrest api
rest-url: http://localhost:3579
  
paths:
  # URL pointing to the downloadable files
  download: https://opengauquelin.org/download
  # URL pointing to the directory containing the birth certificates - not used yet
  acts: /path/to/acts
  # directory where access and error logs are written
  # useful only in mode prod
  # see src/ctxt/log.go
  log: /path/to/directory/containing/log

# Number of rows displayed per page
# For pages with pagination (group, issues)
nb-per-page: 100
