#
# Configuration for Open Gauquelin database frontend
#

# go web server parameters
run:
  url: 127.0.0.1
  port: 2468

# Url to connect to postgrest api
rest-url: http://localhost:3579
  
paths:
  download: /path/to/downloads
  acts: /path/to/acts
