
# replace dbname, public, web_anon and 12345 with values corresponding to your database

db-uri = "postgres://authenticator:postgrest_password@localhost:5432/dbname"
db-schema = "g5_pg_schema"
db-anon-role = "web_anon"
server-port = 12345
