
<h1>
    Open Gauquelin Database Downloads
    <br><div class="warning inline-block padding2">Prototype</div>
</h1>

<!-- ********************************************************************************* -->
{{/* 
<form class="form" action="{{$.Details.UrlAction}}" onsubmit="return validateForm();" method="post" novalidate>
*/}}

<style>
    #ogdb-form{
        background:#eee;
    }
    #ogdb-form ul{list-style-type:none;}
    #ogdb-form .command input{
        font-weight:bold;
        padding:4px;
    }
    #ogdb-form .command input[type=button],
    #ogdb-form .command input[type=submit] {
        background-image: linear-gradient(90deg, #ccc 0%, #ddd 50%, #ccc 100%); 
        padding:8px;
        border-radius:10px;
    }
    #ogdb-form .author{
        font-weight:bold;
    }
</style>

<form id="ogdb-form" class="form" action="/downloads2" onsubmit="return validateForm();" method="post" novalidate>

    <!-- ********************************************************************************* -->
    <fieldset class="margin-top margin-bottom">
        <legend class="bold padding-right05 padding-left05">1 - Choose what to download</legend>
    
        <!-- *************************** -->
        <h3>Full database</h3>
        <ul>
            
            <li>
                <input type="radio" name="radio-what" id="full-pgdump">
                <label for="full-pgdump"><b>Postgresql dump</b> - to load the database in postgresql, see <a href="install">page INSTALL</a></label>
            </li>
            
            <li>
                <input type="radio" name="radio-what" id="full-csv-time">
                <label for="full-csv-time">CSV export - Timed data</label>
            </li>
            <li>
                <input type="radio" name="radio-what" id="full-csv-all">
                <label for="full-csv-all">CSV export - Timed and untimed data</label>
            </li>
        </ul>
        
        <!-- *************************** -->
        <h3>Historical datasets</h3>
        <ul>
            <li>
                <span class="author">Michel &amp; Françoise Gauquelin</span>
                <ul>
                
                    <li class="datagroup">
                        <span class="datagroup">Gauquelin 1955, "L'influence des astres"</span>
                        <ul class="datalist">
                            <li>
                                <input type="radio" name="radio-what" id="g55-01-576-physicians">
                                <label for="g55-01-576-physicians">01 - 576 MEMBRES ASSOCIÉS ET CORRESPONDANTS DE L'ACADÉMIE DE MÉDECINE</label>
                            </li>
                            <li>
                                <input type="radio" name="radio-what" id="g55-02-508-physicians">
                                <label for="g55-02-508-physicians">02 - 508 AUTRES MEDECINS NOTABLES</label>
                            </li>
                            <li>
                                <input type="radio" name="radio-what" id="g55-03-570-sportsmen">
                                <label for="g55-03-570-sportsmen">03 - 570 SPORTIFS</label>
                            </li>
                            <li>
                                <input type="radio" name="radio-what" id="g55-04-676-military">
                                <label for="g55-04-676-military">04 - 676 MILITAIRES</label>
                            </li>
                            <li>
                                <input type="radio" name="radio-what" id="g55-05-906-painters">
                                <label for="g55-05-906-painters">05 - 906 PEINTRES</label>
                            </li>
                            <li>
                                <input type="radio" name="radio-what" id="g55-06-361-minor-painters">
                                <label for="g55-06-361-minor-painters">06 - 361 PEINTRES MINEURS</label>
                            </li>
                            <li>
                                <input type="radio" name="radio-what" id="g55-07-500-actors">
                                <label for="g55-07-500-actors">07 - 500 ACTEURS</label>
                            </li>
                            <li>
                                <input type="radio" name="radio-what" id="g55-08-494-deputies">
                                <label for="g55-08-494-deputies">08 - 494 DEPUTES</label>
                            </li>
                            <li>
                                <input type="radio" name="radio-what" id="g55-09-349-scientists">
                                <label for="g55-09-349-scientists">09 - 349 MEMBRES, ASSOCIES ET CORRESPONDANTS DE L'ACADEMIE DES SCIENCES</label>
                            </li>
                            <li>
                                <input type="radio" name="radio-what" id="g55-10-884-priests">
                                <label for="g55-10-884-priests">10 - 884 PRETRES</label>
                            </li>
                        </ul>
                    </li>
                
                    <li class="datagroup">
                         <span class="datagroup">L.E.R.R.C.P.</span>
        
                        <ul class="datalist">
                            <li>
                                <input type="radio" name="radio-what" id="a1">
                                <label for="a1">A1: 2088 sports champions</label>
                            </li>
                            <li>
                                <input type="radio" name="radio-what" id="a2">
                                <label for="a2">A2: 3643 scientists and medical doctors</label>
                            </li>
                            <li>
                                <input type="radio" name="radio-what" id="a3">
                                <label for="a3">A3: 3046 military men</label>
                            </li>
                            <li>
                                <input type="radio" name="radio-what" id="a4">
                                <label for="a4">A4: 2720 painters and French musicians</label>
                            </li>
                            <li>
                                <input type="radio" name="radio-what" id="a5">
                                <label for="a5">A5: 2410 actors and politicians</label>
                            </li>
                            <li>
                                <input type="radio" name="radio-what" id="a6">
                                <label for="a6">A6: 2026 writers and journalists</label>
                            </li>
                            <li>
                                <input type="radio" name="radio-what" id="d6">
                                <label for="d6">D6: 449 European sports champions</label>
                            </li>
                            <li>
                                <input type="radio" name="radio-what" id="d10">
                                <label for="d10">D10: 1396 successful Americans</label>
                            </li>
                            <li>
                                <input type="radio" name="radio-what" id="e1">
                                <label for="e1">E1: 2153 French physicians, military men and executives</label>
                            </li>
                            <li>
                                <input type="radio" name="radio-what" id="e3">
                                <label for="e3">E3: 1539 French writers, artists, actors, politicians and journalists</label>
                            </li>
                        </ul>
                    </li>
                    
                </ul>
            </li><!-- end gauquelin -->
            
            <li>
                <span class="author">Arno Müller</span>
                
                <ul>
                    <li class="datagroup">
                        <ul class="datalist">
                            <li>
                                <input type="radio" name="radio-what" id="muller-afd1-writers">
                                <label for="muller-afd1-writers">Müller 1, 402 Italian writers</label>
                            </li>
                            <li>
                                <input type="radio" name="radio-what" id="muller-afd1-100writers">
                                <label for="muller-afd1-100writers">Müller 1, 100 Italian writers without birth time</label>
                            </li>
                            <li>
                                <input type="radio" name="radio-what" id="muller-afd2-men">
                                <label for="muller-afd2-men">Müller 2, 612 famous men</label>
                            </li>
                            <li>
                                <input type="radio" name="radio-what" id="muller-afd3-women">
                                <label for="muller-afd3-women">Müller 3, 234 famous women</label>
                            </li>
                            <li>
                                <input type="radio" name="radio-what" id="muller-afd5-medics">
                                <label for="muller-afd5-medics">Müller 5, 1083 members of the French Académie de Médecine</label>
                            </li>
                        </ul>
                    </li>
                    
                </ul>
        
            </li>
            
            <li>
                <span class="author">Comité PARA - Belgian skeptics 1976</span>
                
                <ul>
                    <li>
                        <input type="radio" name="radio-what" id="cpara">
                        <label for="cpara">535 athletes, group of the official test</label>
                    </li>
                    <li>
                        <input type="radio" name="radio-what" id="ertel-7-para-lowers">
                        <label for="ertel-7-para-lowers">76 unpublished athletes (= Ertel's subsample n&deg; 7)</label>
                    </li>
                </ul>
            </li>
            
            <li>
                <span class="author">CSICOP - U.S. skeptics 1979</span>
                <ul>
                    <li>
                        <input type="radio" name="radio-what" id="csicop">
                        <label for="csicop">408 American athletes - Complete group</label>
                    </li>
                    {{/* 
                    <li>
                        <input type="radio" name="radio-what" id="">
                        <label for=""></label>
                        <a href="/group/csicop-batch1">Batch 1 - 128 American athletes</a>
                    </li>
                    <li>
                        <input type="radio" name="radio-what" id="">
                        <label for=""></label>
                        <a href="/group/csicop-batch2">Batch 2 - 98 American athletes</a>
                    </li>
                    <li>
                        <input type="radio" name="radio-what" id="">
                        <label for=""></label>
                        <a href="/group/csicop-batch3">Batch 3 - 82 American athletes</a>
                    </li>
                    */}}
                </ul>
            </li>
            
            <li>
                <span class="author">CFEPP - French skeptics 1996</span>
                <ul>
                    <li>
                        <input type="radio" name="radio-what" id="cfepp-1066">
                        <label for="cfepp-1066">1066 athletes, official list published by CFEPP</label>
                    </li>
                    <li>
                        <input type="radio" name="radio-what" id="cfepp-1120">
                        <label for="cfepp-1120">1120 athletes, CFEPP + Nienhuys additions</label>
                    </li>
                </ul>
            </li>
            
            <li>
                <span class="author">Suitbert Ertel</span>
                <ul>
                    <li>
                        <input type="radio" name="radio-what" id="ertel-4384-sport">
                        <label for="ertel-4384-sport">4384 athletes - Complete group</label>
                    </li>
                    {{/* 
                    <li>
                        <table>
                            <tr><td><a href="/group/ertel-1-first-french">1 - First French</a></td><td>N = 553</td><td></td></tr>
                            <tr><td><a href="/group/ertel-2-first-european">2 - First European</a></td><td>N = 1202</td><td></td></tr>
                            <tr><td><a href="/group/ertel-3-italian-football">3 - Italian football</a></td><td>N = 599</td><td>untimed</td></td></tr>
                            <tr><td><a href="/group/ertel-4-german-various">4 - German various</a></td><td>N = 115</td><td>untimed</td></td></tr>
                            <tr><td><a href="/group/ertel-5-french-occasionals">5 - French occasionals</a>&nbsp;&nbsp;</td><td>N = 202</td><td>untimed</td></td></tr>
                            <tr><td><a href="/group/ertel-6-para-champions">6 - Para champions</a></td><td>N = 332</td><td></td></tr>
                            <tr><td><a href="/group/ertel-7-para-lowers">7 - Para lowers</a></td><td>N = 76</td><td></td></tr>
                            <tr><td><a href="/group/ertel-8-csicop-us">8 - CSICOP-U.S.</a></td><td>N = 192</td><td></td></tr>
                            <tr><td><a href="/group/ertel-9-second-european">9 - Second European</a></td><td>N = 450</td><td>untimed</td></td></tr>
                            <tr><td><a href="/group/ertel-10-italian-cyclists">10 - Italian cyclists</a></td><td>N = 24</td><td>untimed</td></td></tr>
                            <tr><td><a href="/group/ertel-11-lower-french">11 - Lower French</a></td><td>N = 453</td><td>untimed</td></td></tr>
                            <tr><td><a href="/group/ertel-12-gauq-us">12 - GAUQ-U.S.</a></td><td>N = 159</td><td></td></tr>
                            <tr><td><a href="/group/ertel-13-plus-special">13 - Plus special</a></td><td>N = 27</td><td>untimed</td></td></tr>
                        </table>
                    </li>
                    */}}
        
                </ul>
            </li>
        </ul>
        
        <!-- *************************** -->
        <h3>Lists by occupation (profession)</h3>
        <div class="margin margin-left0 big1">
            <input type="checkbox" name="only-timed" id="only-timed">
            <label for="only-timed">Export only timed data</label>
        </div>
        <div style="display:flex; flex-wrap:wrap;">
            {{range $.Details.Occupations}}
                <span class="padding-right2">
                    <input type="radio" name="radio-what" id="occu-{{.Slug}}">
                    <label for="occu-{{.Slug}}">{{.Name}}</label>
                </span>
            {{end}}
        </div>
        
        <!-- *************************** -->
        <h3>Other downloads</h3>
        Auxiliary files, like scans of original documents, can be downloaded from <a href="https://github.com/tig12/g5-aux">github.com/tig12/g5-aux</a>
    </fieldset>
    
    
    {{/* 
    <!-- ********************************************************************************* -->
    <fieldset class="margin-top margin-bottom">
        <legend class="bold padding-right05 padding-left05">2 - Choose the fields</legend>
    </fieldset>
    */}}
    
    
    <!-- ********************************************************************************* -->
    <fieldset class="margin-top margin-bottom">
        <legend class="bold padding-right05 padding-left05">2 - Choose the format</legend>
        <div class="margin margin-left0 big1">
            <input type="checkbox" name="title-fields" id="title-fields" checked>
            <label for="title-fields">First line contains the field names</label>
        </div>

        <div class="grid2-pres">
            <b>CSV Separator</b>
            <div class="padding-left2">
                <div>
                    <input type="radio" name="radio-sep" id="semicolon" checked>
                    <label for="semicolon"><span class="bold big3 padding-left05">;</span> Semicolon</label>
                </div>
                <div>
                    <input type="radio" name="radio-sep" id="coma">
                    <label for="coma"><span class="bold big3 padding-left05">,</span> Comma</label>
                </div>
            </div>
        </div>
        
            <div class="margin-top bold">Date</div>
            <div class="grid2-pres">
                <div>
                    <input type="radio" name="radio-field-date" id="date-iso" checked>
                    <label for="date-iso">Date and time in one column, format ISO 8601.</label>
                    <table class="wikitable margin-left">
                        <tr><th>DATE</th></tr>
                        <tr><td>2022-10-27 21:34+02:00</td></tr>
                    </table>            
                </div>
                <div class="margin-left2">
                    <input type="radio" name="radio-field-date" id="date-many-cols">
                    <label for="date-many-cols">One column for year, one column for month etc.</label>
                    <table class="wikitable margin-left">
                        <tr><th>Y</th><th>M</th><th>D</th><th>H</th><th>Mi</th><th>TZO</th></tr>
                        <tr><td>2022</td><td>10</td><td>27</td><td>21</td><td>34</td><td>+02:00</td></tr>
                    </table>            
                </div>
            </div>
    </fieldset>

    <div class="command big2 margin-left2">
        <input type="button" name="cancel" value="Cancel" onClick="cancel();">
        <input type="submit" class="margin-left" value="Download">
        {{/* 
        <input type="button" class="margin-left" name="download" value="Download">
        */}}
    </div>

</form>
<!-- ********************************************************************************* -->



<!--
<a name="help"></a>
<div id="help" class="margin display-none">
    <div class="help-content">
        <div class="help-title">Aide</div>
        
        <div class="section">
            <b>Taux TVA</b> : Il s'agit du taux apparaissant sur la facture. La liste des valeurs possibles peut être modifiée dans le fichier <code>config.yml</code>, section <code>tva-bdl</code>, valeur <code>autres-valorisations</code>.
        </div>
        
    </div>
</div>
-->

<script>
window.addEventListener("load", function(){
    initialize();
});

// ***************************************
function initialize(){
    {{/* 
    // form new
    if({{.Id}} == 0){
        document.getElementById("typevente-NON").checked = true;
    }
    // form update
    else{
        document.getElementById("acheteur").value = "{{.Acheteur.String}}";
        document.getElementById("tva-{{.TVA}}").selected = true;
        valorisationChanged();
        document.getElementById("typevente-{{.TypeVente}}").checked = true;
        if(document.getElementById("valorisation-PI").selected){
            if('{{.Unite}}' == 'NP'){
                document.getElementById("unite-pi-np").checked = true;
            }
            else{
                document.getElementById("unite-pi-st").checked = true;
            }
        }
    }
    */}}
}

function cancel(){
}

// ***************************************
function validateForm(){
    return true;
{{/* 
    let msg = "";
    //
    if(document.getElementById("datecontrat").value == ""){
        msg += "- Vous devez renseigner la date du contrat.\n";
    }
    //
    if(msg != ""){
        msg = "Impossible de valider ce formulaire :\n" + msg;
        alert(msg);
        return false;
    }
    //
    return true;
*/}}
}
</script>



<!-- ********************************************************************************* -->
<h2 class="margin-top3">Fields of the downloadable CSV files</h2>

<!-- 
The downloadable CSV files do not all have the same format. For example, outputs of the historical files (Gauquelin, Müller, Ertel, skeptics) sometimes contain fields coming from the original source (like Gauquelin sector position, eminence indications).

<br><br>But some fields are standardized, the list below describe them.
-->

<table class="wikitable alternate margin-top">

    <tr>
        <th>Field name</th>
        <th>Comments</th>
    </tr>
    
    <!-- ************************************* -->
    <tr><td colspan="2" class="paragraph">Identifiers</td></tr>
    
    <tr>
        <td>OGID</td>
        <td>
            <b>Open Gauquelin Database unique id</b>
            <br>Looks like <code>alard-pierre-1937-09-17</code>.
            <br>See <a href="https://tig12.github.io/gauquelin5/db-person.html#ogdb-unique-id">the definition of OGDB unique id</a>.
        </td>
    </tr>
    
    <tr>
        <td>WDID</td>
        <td>
            <b>Wikidata unique id</b>
            <br>Looks like <code>Q41390</code>.
            <br>Corresponds to the <a href="https://www.wikidata.org/wiki/Wikidata:Identifiers">Wikidata id of an entity</a>.
        </td>
    </tr>
    
    <tr>
        <td>GQID</td>
        <td>
            <b>Gauquelin unique id</b>
            <br>Looks like <code>A2-721</code>.
            <br>See <a href="https://tig12.github.io/gauquelin5/gauquelin.html#gauquelin-unique-id">the definition of Gauquelin unique id</a>.
        </td>
    </tr>
    
    <tr>
        <td>MUID</td>
        <td>
            <b>Müller unique id</b>
            <br>Looks like <code>M1-325</code>.
            <br>See <a href="https://tig12.github.io/gauquelin5/muller.html#muller-unique-id">the definition of Müller unique id</a>.
        </td>
    </tr>
    
    <tr>
        <td>ERID</td>
        <td>
            <b>Ertel unique id</b>
            <br>Looks like <code>ES-326</code> ; concerns only sportspersons.
            <br>See <a href="https://tig12.github.io/gauquelin5/ertel.html#ertel-unique-id">the definition of Ertel unique id</a>.
        </td>
    </tr>
    
    <tr>
        <td>CSID</td>
        <td>
            <b>CSICOP unique id</b>
            <br>Looks like <code>153</code> ; concerns only sportspersons.
            <br>See <a href="https://tig12.github.io/gauquelin5/csicop.html#csicop-unique-id">The definition of CSICOP unique id</a>.
        </td>
    </tr>
    
    <tr>
        <td>CPID</td>
        <td>
            <b>Comité Para unique id</b>
            <br>Looks like <code>153</code> or <code>* 56</code> ; concerns only sportspersons.
            <br>See <a href="https://tig12.github.io/gauquelin5/comite-para.html#comite-para-unique-id">The definition of Comité Para unique id</a>.
        </td>
    </tr>
    
    <tr>
        <td>CFID</td>
        <td>
            <b>CFEPP unique id</b>
            <br>Looks like <code>153</code> ; concerns only sportspersons.
            <br>See <a href="https://tig12.github.io/gauquelin5/cfepp.html#cfepp-unique-id">The definition of CFEPP unique id</a>.
        </td>
    </tr>
    
    <!-- ************************************* -->
    <tr><td colspan="2" class="paragraph">Names</td></tr>
    
    <tr>
        <td>FNAME</td>
        <td>
            <b>Family name</b>.
        </td>
    </tr>
    
    <tr>
        <td>GNAME</td>
        <td>
            <b>Given name</b>.
        </td>
    </tr>
    
    <tr>
        <td>FAME</td>
        <td>
            <b>Fame name</b>: scene name, pseudonym, sometimes different from the birth certificate.
        </td>
    </tr>
    
    <tr>
        <td>NOB</td>
        <td>
            <b>Nobiliary particle</b>.
        </td>
    </tr>
    
    <!-- ************************************* -->
    <tr><td colspan="2" class="paragraph">Dates</td></tr>
    
    <tr>
        <td>DATE</td>
        <td>
            <b>Legal date</b> = date and time as written in the birth certificate.
            <br>Format ISO 8601 of this form : <code>YYYY-MM-DD HH:MM</code>.
            <br>Example : <code>2017-05-03 09:30</code>.
            <br>Timezone offset is not included ; hour precision is minute (seconds omited).
        </td>
    </tr>
    
    <tr>
        <td>DATE-UT</td>
        <td>
            <b>Date and time converted to universal time</b>.
        </td>
    </tr>
    
    <tr>
        <td>TZO</td>
        <td>
            <b>Timezone offset</b>, see definition on page <a href="https://tig12.github.io/gauquelin5/time.html">tig12.github.io/gauquelin5/time.html</a>.
        </td>
    </tr>
    
    <!-- ************************************* -->
    <tr><td colspan="2" class="paragraph">Geographical information</td></tr>
    
    <tr>
        <td>PLACE</td>
        <td>
            <b>Birth place name</b>.
        </td>
    </tr>
    
    <tr>
        <td>CY</td>
        <td>
            <b>Country code</b> of birth place ; ISO 3166, 2 letters format.
        </td>
    </tr>
    
    <tr>
        <td>C1</td>
        <td>
            <b>Administrative division level 1</b> of birth place
            <br>Means "province" in Italy, or "state" in the USA.
            <br>Corresponds to ADM1 in geonames.org ("first-order administrative division").
        </td>
    </tr>
    
    <tr>
        <td>C2</td>
        <td>
            <b>Administrative division level 2</b> of birth place
            <br>Means "département" in France.
            <br>Corresponds to ADM2 in geonames.org ("second-order administrative division").
        </td>
    </tr>
    
    <tr>
        <td>C3</td>
        <td>
            <b>Administrative division level 3</b> of birth place
            <br>Used for "arrondissements" (Paris, Lyon, Marseille) = division of a big city in different parts.
            <br>Does NOT correspond to ADM3 in geonames.org ; in geonames.org, different arrondissements are modeled as different PLACE, and have different geonames id.
        </td>
    </tr>
    
    <tr>
        <td>GEOID</td>
        <td>
            <b>geonames.org unique identifier</b> of birth place.
        </td>
    </tr>
    
    <tr>
        <td>LG</td>
        <td>
            <b>Longitude</b> of birth place in decimal degrees.
        </td>
    </tr>
    
    <tr>
        <td>LAT</td>
        <td>
            <b>Latitude</b> of birth place in decimal degrees.
        </td>
    </tr>
    
    <!-- ************************************* -->
    <tr><td colspan="2" class="paragraph">Other fields</td></tr>
    <tr>
        <td>G</td>
        <td>
            <b>Gender</b>
            <br><code>F</code> or <code>M</code> in general.
        </td>
    </tr>
    
    <tr>
        <td>OCCU</td>
        <td>
            <b>Occupation codes</b>, as listed in <a href="/occupations">page listing persons by occupation</a>.
            <br>When a person has more than one occupation code, the codes are separated by "+".
            Ex : politician+writer means that the person is identified as a politician and a writer.
        </td>
    </tr>
    
</table>

