
<h1>Open Gauquelin Database Downloads<br>TODO</h1>


<h2>Download full database</h2>

<ul>
    <li><a href="">Postgresql dump</a> - to run opengauquelin on your local machine - See <a href="install">page INSTALL</a></li>
    <li><a href="">CSV export - timed data</a></li>
    <li><a href="">CSV export - timed and untimed data</a></li>
</ul>


<h2>Download by occupation</h2>
See page <a href="occupations">Lists by occupation</a>


<h2>Custom downloads</h2>
Current do


<h2>Format of CSV files</h2>
