
<h1 class="padding-top">Open Gauquelin Database Downloads</h1>

<div class="intro">
    Most downloadable files are in CSV format, which contain only part of the information of the database.
    <br>The only file containing the full information is the postgresql dump (see below).
    <br>If you need a specific format or different extracts, <a href="/about">contact me</a>.
    <br>You can also generate the database from scratch on your own machine, see <a href="https://tig12.github.io/g5">gauquelin5 program</a>.
</div>

The downloadable CSV files are provided in two different formats :
<ul>
    <li class="download">
        <div class="download-image">
            <img class="vertical-align-bottom" src="/static/img/download.png" alt="Download CSV, date fields in ISO format">
            <span class="caption">ISO</span>
        </div>
        <div class="inline-block">The column separator is semicolon (;), and the dates are expressed using ISO 8601 format (YYYY-MM-DD HH:MM)</div>
    </li>
    <li class="download" style="margin-top:3px;">
        <div class="download-image">
            <img class="vertical-align-bottom" src="/static/img/download.png" alt="Download CSV, date fields in separated columns">
            <span class="caption">SEP</span>
        </div>
        <div class="inline-block">The column separator is comma (,), and the dates are expressed in separate columns: on column for year, one column for month etc.</div>
    </li>
</ul>

<!-- ********************************************************************************* -->
<h2>Download full database</h2>

<ul>
    {{/* file name specified in g5 class commands/db/export/pgdump */}}
    <li class="padding-bottom05"><a href="/download/ogdb-pg-dump.zip">Postgresql dump</a> - to run opengauquelin on your local machine, see <a href="install">page INSTALL</a></li>
    {{/* file names specified in g5 class commands/db/export/allpersons */}}
    
    <li>
        <div class="download-image">
            <a href="{{.Details.DownloadBase}}/ogdb-time-sep.csv.zip" title="Download CSV, date fields in separated columns">
                <img class="vertical-align-bottom" src="/static/img/download.png" alt="Download CSV, date fields in separated columns">
                <span class="caption">SEP</span>
            </a>
        </div>
        <div class="download-image">
            <a href="{{.Details.DownloadBase}}/ogdb-time.csv.zip" title="Download CSV, dates in ISO format">
                <img class="vertical-align-bottom" src="/static/img/download.png" alt="Download CSV, dates in ISO format">
                <span class="caption">ISO</span>
            </a>
        </div>
        CSV export - Timed data
    </li>
    <li>
        <div class="download-image">
            <a href="{{.Details.DownloadBase}}/ogdb-all-sep.csv.zip" title="Download CSV, date fields in separated columns">
                <img class="vertical-align-bottom" src="/static/img/download.png" alt="Download CSV, date fields in separated columns">
                <span class="caption">SEP</span>
            </a>
        </div>
        <div class="download-image">
            <a href="{{.Details.DownloadBase}}/ogdb-all.csv.zip" title="Download CSV, dates in ISO format">
                <img class="vertical-align-bottom" src="/static/img/download.png" alt="Download CSV, dates in ISO format">
                <span class="caption">ISO</span>
            </a>
        </div>
        CSV export - Timed and untimed data
    </li>
</ul>

<!-- ********************************************************************************* -->
<h2>Download historical datasets</h2>
Files coming from the history of statistical tests on astrology can be downloaded from page <a href="/history"><b>Historical datasets</b></a>.

<!-- ********************************************************************************* -->
<h2>Download CSV lists by occupation (profession)</h2>
See the page containing <a href="/occupations"><b>the lists by occupation</b></a>.

<!-- ********************************************************************************* -->
<h2>Other downloads</h2>
Auxiliary files, like scans of original documents, can be downloaded from <a href="https://github.com/tig12/g5-aux">github.com/tig12/g5-aux</a>

<!-- ********************************************************************************* -->
<hr class="hr-big">
<h2 id="csv-format">Format of the downloadable CSV files</h2>

The downloadable CSV files do not all have the same format. For example, outputs of the historical files (Gauquelin, Müller, Ertel, skeptics) sometimes contain fields coming from the original source (like Gauquelin sector position, eminence indications).

<br><br>But some fields are standardized, the list below describe them.

<table class="wikitable alternate margin-top">

    <tr>
        <th>Field name</th>
        <th>Comments</th>
    </tr>
    
    <!-- ************************************* -->
    <tr><td colspan="2" class="paragraph">Identifiers</td></tr>
    
    <tr>
        <td>OGID</td>
        <td>
            <b>Open Gauquelin Database unique id</b>
            <br>Looks like <code>alard-pierre-1937-09-17</code>.
            <br>See <a href="https://tig12.github.io/g5/db-person.html#ogdb-unique-id">the definition of OGDB unique id</a>.
        </td>
    </tr>
    
    <tr>
        <td>WDID</td>
        <td>
            <b>Wikidata unique id</b>
            <br>Looks like <code>Q41390</code>.
            <br>Corresponds to the <a href="https://www.wikidata.org/wiki/Wikidata:Identifiers">Wikidata id of an entity</a>.
        </td>
    </tr>
    
    <tr>
        <td>GQID</td>
        <td>
            <b>Gauquelin unique id</b>
            <br>Looks like <code>A2-721</code>.
            <br>Identifies records published by Gauquelin laboratory (LERRCP).
            <br>See <a href="https://tig12.github.io/g5/gauquelin.html#gauquelin-unique-id">the definition of Gauquelin unique id</a>.
        </td>
    </tr>
    
    <tr>
        <td>G55ID</td>
        <td>
            <b>Gauquelin 1955 unique id</b>
            <br>Looks like <code>02-329</code>.
            <br>See <a href="https://tig12.github.io/g5/g55.html#g55-unique-id">the definition of Gauquelin 1955 unique id</a>.
        </td>
    </tr>
    
    <tr>
        <td>MUID</td>
        <td>
            <b>Müller unique id</b>
            <br>Looks like <code>M1-325</code>.
            <br>See <a href="https://tig12.github.io/g5/muller.html#muller-unique-id">the definition of Müller unique id</a>.
        </td>
    </tr>
    
    <tr>
        <td>ERID</td>
        <td>
            <b>Ertel unique id</b>
            <br>Looks like <code>ES-326</code> ; concerns only sportspersons.
            <br>See <a href="https://tig12.github.io/g5/ertel.html#ertel-unique-id">the definition of Ertel unique id</a>.
        </td>
    </tr>
    
    <tr>
        <td>CSID</td>
        <td>
            <b>CSICOP unique id</b>
            <br>Looks like <code>CS-153</code> ; concerns only sportspersons.
            <br>See <a href="https://tig12.github.io/g5/csicop.html#csicop-unique-id">The definition of CSICOP unique id</a>.
        </td>
    </tr>
    
    <tr>
        <td>CPID</td>
        <td>
            <b>Comité Para unique id</b>
            <br>Looks like <code>CP-153</code> or <code>CP-*56</code> ; concerns only sportspersons.
            <br>See <a href="https://tig12.github.io/g5/comite-para.html#comite-para-unique-id">The definition of Comit Para unique id</a>.
        </td>
    </tr>
    
    <tr>
        <td>CFID</td>
        <td>
            <b>CFEPP unique id</b>
            <br>Looks like <code>CF-153</code> ; concerns only sportspersons.
            <br>See <a href="https://tig12.github.io/g5/cfepp.html#cfepp-unique-id">The definition of CFEPP unique id</a>.
        </td>
    </tr>
    
    <!-- ************************************* -->
    <tr><td colspan="2" class="paragraph">Names</td></tr>
    
    <tr>
        <td>FNAME</td>
        <td>
            <b>Family name</b>.
        </td>
    </tr>
    
    <tr>
        <td>GNAME</td>
        <td>
            <b>Given name</b>.
        </td>
    </tr>
    
    <tr>
        <td>FAME</td>
        <td>
            <b>Fame name</b>: scene name, pseudonym, sometimes different from the birth certificate.
        </td>
    </tr>
    
    <tr>
        <td>NOB</td>
        <td>
            <b>Nobiliary particle</b>.
        </td>
    </tr>
    
    <!-- ************************************* -->
    <tr><td colspan="2" class="paragraph">Dates</td></tr>
    
    <tr>
        <td>DATE</td>
        <td>
            <b>Legal date</b> = date and time as written in the birth certificate.
            <br>Format ISO 8601 of this form : <code>YYYY-MM-DD HH:MM</code>.
            <br>Example : <code>2017-05-03 09:30</code>.
            <br>Timezone offset is not included ; hour precision is minute (seconds omited).
        </td>
    </tr>
    
    <tr>
        <td>DATE-UT</td>
        <td>
            <b>Date and time converted to universal time</b>.
        </td>
    </tr>
    
    <tr>
        <td>TZO</td>
        <td>
            <b>Timezone offset</b>, see definition on page <a href="https://tig12.github.io/g5/time.html">tig12.github.io/g5/time.html</a>.
        </td>
    </tr>
    
    <!-- ************************************* -->
    <tr><td colspan="2" class="paragraph">Geographical information</td></tr>
    
    <tr>
        <td>PLACE</td>
        <td>
            <b>Birth place name</b>.
        </td>
    </tr>
    
    <tr>
        <td>CY</td>
        <td>
            <b>Country code</b> of birth place ; ISO 3166, 2 letters format.
        </td>
    </tr>
    
    <tr>
        <td>C1</td>
        <td>
            <b>Administrative division level 1</b> of birth place
            <br>Means "province" in Italy, or "state" in the USA.
            <br>Corresponds to ADM1 in geonames.org ("first-order administrative division").
        </td>
    </tr>
    
    <tr>
        <td>C2</td>
        <td>
            <b>Administrative division level 2</b> of birth place
            <br>Means "département" in France.
            <br>Corresponds to ADM2 in geonames.org ("second-order administrative division").
        </td>
    </tr>
    
    <tr>
        <td>C3</td>
        <td>
            <b>Administrative division level 3</b> of birth place
            <br>Used for "arrondissements" (Paris, Lyon, Marseille) = division of a big city in different parts.
            <br>Does NOT correspond to ADM3 in geonames.org ; in geonames.org, different arrondissements are modeled as different PLACE, and have different geonames ids.
        </td>
    </tr>
    
    <tr>
        <td>GEOID</td>
        <td>
            <b>geonames.org unique identifier</b> of birth place.
        </td>
    </tr>
    
    <tr>
        <td>LG</td>
        <td>
            <b>Longitude</b> of birth place in decimal degrees.
        </td>
    </tr>
    
    <tr>
        <td>LAT</td>
        <td>
            <b>Latitude</b> of birth place in decimal degrees.
        </td>
    </tr>
    
    <!-- ************************************* -->
    <tr><td colspan="2" class="paragraph">Other fields</td></tr>
    <tr>
        <td>G</td>
        <td>
            <b>Gender</b>
            <br><code>F</code> or <code>M</code> in general.
        </td>
    </tr>
    
    <tr>
        <td>OCCU</td>
        <td>
            <b>Occupation codes</b>, as listed in <a href="/occupations">page listing persons by occupation</a>.
            <br>When a person has more than one occupation code, the codes are separated by "+".
            Ex : politician+writer means that the person is identified as a politician and a writer.
        </td>
    </tr>
    
    <tr>
        <td>EM</td>
        <td>
            <b>Eminence</b> ; this notion is important but not yet integrated in OGDB. The only eminence indicator currently present comes from Ertel's work on athletes published in 1988.
        </td>
    </tr>
    
</table>