
<h1>
Open Gauquelin Database
<br>Future developments
</h1>

<div class="">
Notations:
<ul>
    <li>
        <b>g5</b>: Program used to build the Open Gauquelin database.
    </li>
</ul>
</div>

<!-- ********************************************************************************* -->
<h2>To do for version 1.0</h2>

The purpose is to complete the fields of persons and obtain a good precision to prepare the matching of ogdb with wikidata.

<ul class="spaced">
    <li>
        <div class="bold">g5: Person issues</div>
        The merge of different data sources (Gauquelin, Müller, skeptics) permits to identify potential errors. Few errors are marked and listed on <a href="/issues">page "Persons' issues"</a>. Other errors can be extracted from the merge process.
    </li>
    <li>
        <b>Timezone offset computation</b> is partial and need to be completed.
    </li>
    <li>
        <div class="bold">Fields C1 C2 C3 of places</div>
        C1 C2 C3 = Administrative division level 1, 2 or 3.
        <br>Original files sometimes contain such informations. Some of them are converted to geonames.org, but not all.
    </li>
</ul>

<!-- ********************************************************************************* -->
<h2>Relate the database to birth certificates</h2>

Building the database leads to verify some birth certificates. This information is currently not present in database.
<br>See preparatory work on <a href="https://tig12.github.io/gauquelin5/acts.html">g5 page about acts</a>.

<!-- ********************************************************************************* -->
<h2>Match ogdb with wikidata</h2>
Identify matches - list differences - complete ogdb with wikidata.

<!-- ********************************************************************************* -->
<h2>Rank the persons by eminence</h2>
Add eminence indicators to persons of the database.
<br>A preliminary study can be found on
<a href="https://tig12.github.io/gauquelin5/eminence.html">g5 page about eminence</a>.

<!-- ********************************************************************************* -->
<h2>Turn the database to a wiki</h2>
To permit collborative building of verifiable timed data.
