<script>
$(document).ready(function() {
    $('#persons').DataTable({
        "order": [[ 2, 'asc' ]],
        "pageLength": 50
    });
} );
</script>

{{with .Details.Group}}

<h1>{{.Name}}</h1>

<div class="big2 margin bold">{{.Description}}</div>

<table id="persons" class="display" style="width:100%">
<thead>
    <tr>
        <th>Ids</th>
        <th>Given name</th>
        <th>Family name</th>
        <th>Birth date</th>
        <th>Birth place</th>
        <th>Country</th>
        <th>Occupations</th>
    </tr>
</thead>
<tbody>

{{range .Members}}
<tr>
    <td>
    {{range $key, $value := .Ids_in_sources}}
        {{if or (eq $key "lerrcp") (eq $key "afd") (eq $key "wd")}}
            <div title="{{$key | sourceNameFromSlug}}">{{$value}}</div>
        {{end}}
    {{end}}
    </td>
    <td><a href="/person/{{.Slug}}">{{.Name.Given}}</a></td>
    <td><a href="/person/{{.Slug}}">{{.Name.Family}}</a></td>
    <td>{{.GetBirthDate}}</td>
    <td>
        {{.Birth.Place.Name}}
        {{if .Birth.Place.C2}} ({{.Birth.Place.C2}}){{end}}
    </td>
    <td>{{.Birth.Place.Cy}}</td>
    <td>
        {{range .Occus}}
            <div>{{. | ucFirst}}</div>
        {{end}}
    </td>
</tr>
{{end}}

</tbody>
</table>    

{{end}} {{/* with .Details.Group */}}
