

<h1 class="padding-top">
    {{.Header.Title}}
    <div class="subtitle">N = {{numberFormat .Details.Group.N}}</div>
</h1>

{{with .Details.Group}}

<div class="big2 margin">
    <div>{{.Description | safeHTML}}</div>
</div>

<div class="big1 margin bold margin-bottom">
    <div class="">
        {{if .ParentSlugs}}
            Parent groups:
        {{end}}
        {{range .ParentSlugs}}
            <span class="padding-right"><a href="/group/{{.}}">{{index $.Details.GroupSlugNames .}}</a></span>
        {{end}}
    </div>
    <div class="">
        {{if .ChildrenSlugs}}
            Subgroups:
        {{end}}
        {{range .ChildrenSlugs}}
            <span class="padding-right"><a href="/group/{{.}}">{{index $.Details.GroupSlugNames .}}</a></span>
        {{end}}
    </div>
</div>

{{if .Download}}
<div class="download margin-left">
    <span class="padding-right bold big1">Download CSV</span>
    <div class="download-image">
        <a href="{{$.Details.DownloadBase}}/{{.DownloadSep}}" title="Download CSV, date fields in separated columns">
            <img class="vertical-align-bottom" src="/static/img/download.png" alt="Download CSV, date fields in separated columns">
            <span class="caption">SEP</span>
        </a>
    </div>
    <div class="download-image">
        <a href="{{$.Details.DownloadBase}}/{{.Download}}" title="Download CSV, dates in ISO format">
            <img class="vertical-align-bottom" src="/static/img/download.png" alt="Download CSV, dates in ISO format">
            <span class="caption">ISO</span>
        </a>
    </div>
    <span class="padding-left">(see page <a href="/downloads">Downloads</a> for a description of the SEP and ISO formats).</span>
</div>
{{end}}


{{if gt .N 0}} {{/* ==== non empty group ==== */}}

{{template "group-nav.html" $ }}

<table class="datatable alternate">
<thead>
    <tr>
        <th class="cursor-help"><center><a href="/#data-reliability" title="Reliability of the birth time">?</a></center></th>
        <th>Ids</th>
        <th>Name</th>
        <th>Birth date</th>
        <th>Birth place</th>
        <th>Country</th>
        <th>Occupations</th>
    </tr>
</thead>
<tbody>

{{range .Members}}
<tr>
    <td class="trust{{.Trust}} center"><span class="cursor-help" title="{{.Trust | trustDescription}}">{{.Trust}}</span></td>
    <td>
    {{range $key, $value := .Partial_ids}}
        <div>{{index $.Details.Partial_ids_labels $key}}: {{$value}}</div>
    {{end}}
    </td>
    <td>
        <a href="/person/{{.Slug}}">{{.Name.DisplayedName}}</a>
    </td>
    <td>{{.GetBirthDate}}</td>
    <td>
        {{.Birth.Place.Name}}
        {{if .Birth.Place.C2}} ({{.Birth.Place.C2}}){{end}}
    </td>
    <td>{{index $.Details.CountryCodesNames .Birth.Place.Cy}}</td>
    <td>
        {{range .Occus}}
            <div><a href="/group/{{.}}">{{index $.Details.GroupSlugNames .}}</a></div>
        {{end}}
    </td>
</tr>
{{end}}

</tbody>
</table>

{{ template "group-nav.html" $ }}

{{end}}{{/* if gt .N 0 */}}

{{end}} {{/* with .Details.Group */}}
