
<h1>
    {{.Header.Title}}
    <div class="subtitle">N = {{numberFormat .Details.Group.N}}</div>
</h1>

{{with .Details.Group}}

<div class="big2 margin margin-top0 bold">
    <div>{{.Description | safeHTML}}</div>
</div>

<div class="big1 margin bold">
    <div class="">
        {{if .ParentSlugs}}
            Parent groups:
        {{end}}
        {{range .ParentSlugs}}
            <span class="padding-right"><a href="/group/{{.}}">{{index $.Details.GroupSlugNames .}}</a></span>
        {{end}}
    </div>
    <div class="">
        {{if .ChildrenSlugs}}
            Subgroups:
        {{end}}
        {{range .ChildrenSlugs}}
            <span class="padding-right"><a href="/group/{{.}}">{{index $.Details.GroupSlugNames .}}</a></span>
        {{end}}
    </div>
</div>

{{if .Download}}
<div class="big2 margin bold">
    <a href="{{$.Details.DownloadBase}}/{{.Download}}">
        <img class="vertical-align-bottom" src="/static/img/download.png" alt="Download group in CSV">
        <span class="padding-right">Download CSV</span>
    </a>
</div>
{{end}}


{{if gt .N 0}} {{/* ==== non empty group ==== */}}

{{ template "group-nav.html" $ }}

<table class="datatable alternate">
<thead>
    <tr>
        <th>Ids</th>
        <th>Name</th>
        <th>Birth date</th>
        <th>Birth place</th>
        <th title="Country ISO 3166 code">C.</th>
        <th>Occupations</th>
    </tr>
</thead>
<tbody>

{{range .Members}}
<tr>
    <td>
    {{range $key, $value := .Partial_ids}}
        <div>{{index $.Details.Partial_ids_labels $key}}: {{$value}}</div>
    {{end}}
    </td>
    <td>
        <a href="/person/{{.Slug}}">{{.Name.DisplayedName}}</a>
    </td>
    <td>{{.GetBirthDate}}</td>
    <td>
        {{.Birth.Place.Name}}
        {{if .Birth.Place.C2}} ({{.Birth.Place.C2}}){{end}}
    </td>
    <td>{{.Birth.Place.Cy}}</td>
    <td>
        {{range .Occus}}
            <div><a href="/group/{{.}}">{{index $.Details.GroupSlugNames .}}</a></div>
        {{end}}
    </td>
</tr>
{{end}}

</tbody>
</table>

{{ template "group-nav.html" $ }}

{{end}}{{/* if gt .N 0 */}}

{{end}} {{/* with .Details.Group */}}
