<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <title>{{if ne .Header.Title ""}}{{.Header.Title}} | {{end}}Open Gauquelin Database</title>
    <link rel="icon" type="image/png" href="/static/img/open-gauquelin.jpg">
    {{/*
        === CSS ===
    */}}
    <link href="/static/css/openg.css" rel="stylesheet" type="text/css">
    <link href="/static/css/menu.css" rel="stylesheet" type="text/css">
    <link href="/static/lib/autocomplete/autocomplete.css" rel="stylesheet" type="text/css">
    {{range .Header.CSSFiles}}<link href="{{.}}" rel="stylesheet" type="text/css">
    {{end}}
    {{/*
        === javascript ===
    */}}
    <script src="/static/lib/autocomplete/autocomplete.js"></script>
    <script src="/static/lib/autocomplete/getPossiblePersons.js"></script>
    {{range .Header.JSFiles}}
    <script src="{{.}}"></script>
    {{end}}
    <script>
        window.addEventListener("load", function(){
            autocomplete(document.getElementById("search-input"), getPossiblePersons);
        });
    </script>
</head>

<body>
<header class="top-header">
    <a id="pagetop" href="/" class="bold">
        <img
            src="/static/img/open-gauquelin.jpg"
            alt="Open Gauquelin Home"
            class="vertical-align-middle"
        >
        Open Gauquelin Database
    </a>
    
    <span class="top-nav">
        <a href="/history">Historical data</a>
        <a href="/occupations">Professional groups</a>
        <a href="/wiki">Wiki</a>
        <a href="/downloads">Downloads</a>
        <a href="/about">Contact, About</a>
    </span>
    
    <div class="top-right">
        <div class="search">
            Search
            <input
                id="search-input"
                class="autocomplete"
                type="text"
                autocomplete="off"
                size="40"
    placeholder="Not yet operational"
    disabled
            />
            <input
                class="margin-right"
                type="button"
                value="Go"
            />
        </div>
        <ul class="menus">
            <li class="dropdown">
                <a class="dropbtn" href="#"><img src="/static/img/menu.png"></a>
                <div class="dropdown-content">
                    <a class="bold" href="/">Home</a>
                    <a href="/wiki">Wiki</a>
                    <center><hr class="hr-cool"></center>
                    <a href="/history">Historical datasets</a>
                    <a href="/occupations">Lists by occupation</a>
                    <a href="/issues">Issues (questionable data)</a>
                    <a href="/other-data">Other data</a>
                    <a href="/sources">Information sources</a>
                    <center><hr class="hr-cool"></center>
                    <a href="/about">Contact, About</a>
                    <a href="/downloads">Downloads</a>
                    <a href="/stats">DB stats</a>
                    <center><hr class="hr-cool"></center>
                    <a href="/install">Install</a>
                </div>
            </li>
        </ul>
    </div>
    
</header>

<div class="content">

