<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <title>{{if ne .Header.Title ""}}{{.Header.Title}} | {{end}}Open Gauquelin Database</title>
    <link rel="icon" type="image/png" href="/static/logo-bdl-32.png">
    <link href="/static/css/openg.css" rel="stylesheet" type="text/css">
    {{range .Header.CSSFiles}}<link href="{{.}}" rel="stylesheet" type="text/css">
    {{end}}
    {{range .Header.JSFiles}}
    <script src="{{.}}"></script>
    {{end}}
</head>

<body>
<header class="top-header">
<a id="pagetop" href="/" class="bold">
    <img class="vertical-align-middle" src="/static/img/open-gauquelin.png" alt="Open Gauquelin Home">
    Open Gauquelin Database
</a>
<div class="search">
    Search
    <input
        type="text"
        size="40"
    />
    <input
        type="button"
        value="Go"
    />
    
</div>
</header>
<div class="content">
