
<h1>
    Open Gauquelin
    <div class="subtitle">
        Browse and download
        <br>timed birth dates of famous persons
    </div>
</h1>

<!-- ************************************* -->
<div class="float-left padding-left">
<h2><a href="">Historical datasets</a></h2>
<ul>
    <li>
        <b>Michel &amp; Françoise Gauquelin</b>
        <ul>
            <li><a href="/group/a1">A1: 2087 sports champions</a></li>
            <li><a href="/group/a2">A2: 3643 scientists and medical doctors</a></li>
            <li><a href="/group/a3">A3: 3046 military men</a></li>
            <li><a href="/group/a4">A4: 2720 painters and French musicians</a></li>
            <li><a href="/group/a5">A5: 2410 actors and politicians</a></li>
            <li><a href="/group/a6">A6: 2026 writers and journalists</a></li>
            <li><a href="/group/d6">D6: 449 European sports champions</a></li>
            <li><a href="/group/d10">D10: 1396 successful Americans</a></li>
            <li><a href="/group/e1">E1: 2153 French physicians, military men and executives</a></li>
            <li><a href="/group/e3">E3: 1539 French writers, artists, actors, politicians and journalists</a></li>
        </ul>
    </li>
    <li>
        <b>Arno Müller</b>
        <ul>
            <li><a href="/group/muller-afd1-writers">Astro-Forschungs-Daten 1, 402 Italian writers</a></li>
            <li><a href="/group/muller-afd5-medics">Astro-Forschungs-Daten 5, 1083 members of the French Académie de Médecine</a></li>
        </ul>
    </li>
    <li>
        <b>CSICOP</b>
        <ul>
            <li><a href="/group/csicop">Complete group - 408 American athletes</a></li>
            <li><a href="/group/csicop-batch1">Batch 1 - 128 American athletes</a></li>
            <li><a href="/group/csicop-batch2">Batch 2 - 98 American athletes</a></li>
            <li><a href="/group/csicop-batch3">Batch 3 - 82 American athletes</a></li>
        </ul>
    </li>
</ul>
</div><!-- end float-left -->

<!-- ************************************* -->
<div class="float-left padding-right">
<h2><a href="/persons">All persons</a></h2>
</div><!-- end float-left -->

<!-- ************************************* -->
<div class="float-left padding-left padding-right">
<h2><a href="/occupations">Lists by occupation</a></h2>
</div><!-- end float-left -->

<!-- ************************************* -->
<div class="float-left padding-left padding-right">
<h2><a href="/sources">Information sources</a></h2>
</div><!-- end float-left -->


<br class="clear-left">


<!-- ************************************* -->
<h2>Database statistics</h2>


<!-- ************************************* -->
<h2>About this data</h2>

