<div class="home">

<h1 class="margin-bottom3">
    Open Gauquelin Database
    <div class="subtitle">
        Browse and download
        <br>timed birth dates of famous persons
    </div>
</h1>

<!-- ************************************* -->
<div class="float-left padding-left">

<div class="big2">
{{with .Details.Stats}}
This database contains <b>{{numberFormat .N}} persons</b>
born between {{.YearMin}} and {{.YearMax}}
<br>({{numberFormat .N_time}} with birth time and {{numberFormat .N_day}} without)
- <a href="/stats">See more statistics</a>
{{end}}
</div>

<h2>Historical datasets</h2>
<ul class="naked">
    <li>
        <b>Michel &amp; Françoise Gauquelin</b>
        <ul class="naked">
            <li>
                <a href="{{.Details.DownloadBase}}/history/1970-1984-gauquelin/A1.csv.zip">
                    <img class="vertical-align-bottom padding-right" src="/static/img/download.png" alt="Download group in CSV">
                </a>
                <a href="/group/a1">A1: 2087 sports champions</a>
            </li>
            <li>
                <a href="{{.Details.DownloadBase}}/history/1970-1984-gauquelin/A2.csv.zip">
                    <img class="vertical-align-bottom padding-right" src="/static/img/download.png" alt="Download group in CSV">
                </a>
                <a href="/group/a2">A2: 3643 scientists and medical doctors</a>
            </li>
            <li>
                <a href="{{.Details.DownloadBase}}/history/1970-1984-gauquelin/A3.csv.zip">
                    <img class="vertical-align-bottom padding-right" src="/static/img/download.png" alt="Download group in CSV">
                </a>
                <a href="/group/a3">A3: 3046 military men</a>
            </li>
            <li>
                <a href="{{.Details.DownloadBase}}/history/1970-1984-gauquelin/A4.csv.zip">
                    <img class="vertical-align-bottom padding-right" src="/static/img/download.png" alt="Download group in CSV">
                </a>
                <a href="/group/a4">A4: 2720 painters and French musicians</a>
            </li>
            <li>
                <a href="{{.Details.DownloadBase}}/history/1970-1984-gauquelin/A5.csv.zip">
                    <img class="vertical-align-bottom padding-right" src="/static/img/download.png" alt="Download group in CSV">
                </a>
                <a href="/group/a5">A5: 2410 actors and politicians</a>
            </li>
            <li>
                <a href="{{.Details.DownloadBase}}/history/1970-1984-gauquelin/A6.csv.zip">
                    <img class="vertical-align-bottom padding-right" src="/static/img/download.png" alt="Download group in CSV">
                </a>
                <a href="/group/a6">A6: 2026 writers and journalists</a>
            </li>
            <li>
                <a href="{{.Details.DownloadBase}}/history/1970-1984-gauquelin/D6.csv.zip">
                    <img class="vertical-align-bottom padding-right" src="/static/img/download.png" alt="Download group in CSV">
                </a>
                <a href="/group/d6">D6: 449 European sports champions</a>
            </li>
            <li>
                <a href="{{.Details.DownloadBase}}/history/1970-1984-gauquelin/D10.csv.zip">
                    <img class="vertical-align-bottom padding-right" src="/static/img/download.png" alt="Download group in CSV">
                </a>
                <a href="/group/d10">D10: 1396 successful Americans</a>
            </li>
            <li>
                <a href="{{.Details.DownloadBase}}/history/1970-1984-gauquelin/E1.csv.zip">
                    <img class="vertical-align-bottom padding-right" src="/static/img/download.png" alt="Download group in CSV">
                </a>
                <a href="/group/e1">E1: 2153 French physicians, military men and executives</a>
            </li>
            <li>
                <a href="{{.Details.DownloadBase}}/history/1970-1984-gauquelin/E3.csv.zip">
                    <img class="vertical-align-bottom padding-right" src="/static/img/download.png" alt="Download group in CSV">
                </a>
                <a href="/group/e3">E3: 1539 French writers, artists, actors, politicians and journalists</a>
            </li>
        </ul>
    </li>
    <li>
        <b>Arno Müller</b>
        <ul class="naked">
            <li>
                <a href="{{.Details.DownloadBase}}/history/1991-muller-writers/muller-402-writers.csv.zip">
                    <img class="vertical-align-bottom padding-right" src="/static/img/download.png" alt="Download group in CSV">
                </a>
                <a href="/group/muller-afd1-writers">Astro-Forschungs-Daten 1, 402 Italian writers</a>
            </li>
            <li>
                <a href="{{.Details.DownloadBase}}/history/1991-muller-writers/muller-100-writers.csv.zip">
                    <img class="vertical-align-bottom padding-right" src="/static/img/download.png" alt="Download group in CSV">
                </a>
                <a href="/group/muller-afd1-100writers">Astro-Forschungs-Daten 1, 100 Italian writers without birth time</a>
            </li>
            <li>
                <a href="{{.Details.DownloadBase}}/history/1994-muller-physicians/muller-1083-physicians.csv.zip">
                    <img class="vertical-align-bottom padding-right" src="/static/img/download.png" alt="Download group in CSV">
                </a>
                <a href="/group/muller-afd5-medics">Astro-Forschungs-Daten 5, 1083 members of the French Académie de Médecine</a>
            </li>
        </ul>
    </li>
    <li>
        <b>CSICOP</b>
        <ul class="naked">
            <li>
                <a href="{{.Details.DownloadBase}}/history/1979-csicop/csicop-irving-408.csv.zip">
                    <img class="vertical-align-bottom padding-right" src="/static/img/download.png" alt="Download group in CSV">
                </a>
                <a href="/group/csicop">Complete group - 408 American athletes</a>
            </li>
            <li>
                <a href="/group/csicop-batch1">Batch 1 - 128 American athletes</a>
            </li>
            <li>
                <a href="/group/csicop-batch2">Batch 2 - 98 American athletes</a>
            </li>
            <li>
                <a href="/group/csicop-batch3">Batch 3 - 82 American athletes</a>
            </li>
        </ul>
    </li>
</ul>
</div><!-- end float-left -->

<!-- ************************************* -->
<div id="sitelinks">
    <ul>
        <!-- <li><a href="/persons">All persons</a></li> -->
        <li><a href="/occupations">Lists by occupation</a></li>
        <li><a href="/sources">Information sources</a></li>
        <li><a href="/stats">Database statistics</a></li>
        <li><a href="/downloads">Data Downloads</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</div>

<br class="clear-both">

</div><!-- end class="home" -->
