<div class="home">

<h1 class="margin-bottom3">
    Open Gauquelin Database (OGDB)
    <div class="subtitle">
        Timed birth dates of famous persons
    </div>
</h1>

<div class="intro">
The purpose of this site is to build a <b>complete</b>, <b>reliable</b> and <b>verifiable</b> database of famous persons, <b>with their birth time</b>.
</div>
<br class="clear-both">

<div class="float-right margin padding margin-top0 padding-top0">

    <div class="right-box">
        {{with .Details.Stats}}
        OGDB currently contains <b>{{numberFormat .N}}</b> persons
        <br><b>{{numberFormat .N_time}}</b> with birth time
        <br><b>{{numberFormat .N_notime}}</b> without birth time
        <br>Born between {{.YearMin}} and {{.YearMax}}
        <br>From {{.N_countries}} countries
        <br><b>{{numberFormat .N_checked}}</b> birth times are reliable
        <div class="small8 padding-left2">(related to a birth certificate)</div>
        <div class="margin-top05 margin-bottom05">
            <a href="/stats"><img src="/static/img/stats.jpg" alt="Database statistics" class="border"></a>
        </div>
        <a href="/stats">See more database statistics</a>
        {{end}}
    </div>
    
    {{if .Details.Recents}}
    <div class="right-box margin-top2">
        <b>Last additions</b>
        <ul class="margin-top05 margin-bottom05">
            {{range .Details.Recents}}
                <li>
                    <a href="/person/{{.Person.Slug}}">{{.Person.Name.DisplayedName}} {{.Person.GetBirthDay}}</a>
                    <div class="small8 padding-left05">{{.Description}}</div>
                </li>
            {{end}}
        </ul>
        See <b><a href="/wiki">Wiki</a></b>
    </div>
    {{end}}
    
    <div class="right-box margin-top2">
        Besides birth times of famous persons,
        <br>OGDB provides downloads to other data
        <br>usable for astro-stat research.
        <br>See <b><a href="/other-data">Other data</a></b>
    </div>
    
    <div class="right-box margin-top2">
        Checking the coherence of the different
        <br> <a href="/sources">sources of information</a> permitted
        <br>to identify potential errors in data.
        <br>See <b><a href="/wiki/issues">Issues</a></b>
    </div>
    
</div><!-- end class="float-right" -->

<div>
    The initial version of the database contains the data used to perform <a href="https://tig12.github.io/g5/historical-tests.html">statistical tests on astrology</a>, between 1955 and 1996 (see <a href="/history"><b>historical data</b></a>).
    <br>These data were gathered by <b>Michel and Françoise Gauquelin</b>, <b>Arno Müller</b>, <b>Suitbert Ertel</b> and 3 groups of skeptics: <b>Comité Para</b> - Belgium 1976, <b>CSICOP</b> - U.S. 1979, <b>CFEPP</b> - France 1996.
</div>

<div class="margin-top">
    The program used to build the initial database is called <b>gauquelin5</b> (or <b>g5</b>). See <a href="/about">page "About"</a> for more details.
</div>

<!-- ********************************************************************************* -->
<h2 id="goals">Goals</h2>
The purpose is to permit the reproduction of statistical tests on astrology with more complete and reliable data.
<div class="margin-top05">
    Main steps of this project are described in the <a href="https://tig12.github.io/g5">home page of g5 documentation</a>:
</div>
<ol class="simple margin-bottom margin-top0">
    <li>Gather the <a href="/history">historical data</a> and merge them in a single database.</li>
    <li>Check and correct them.</li>
    <li>Connect the historical data to standard datasets like wikidata and complete birth times to build larger groups.</li>
    <li>Build new eminence indicators and sort famous persons by eminence rank.</li>
</ol>

<!-- ********************************************************************************* -->
<h2>Wiki</h2>
Step 1 of the project (create a database containing historical data) is almost completed, and the current purpose is to check, correct and complete the database.
<br>The database includes a mechanism to associate the persons with their birth certificates - see <a href="/wiki"><b>opengauquelin.org/wiki</b></a>.
<br>Checking thousands of birth dates is a big task, but it's much easier than at Gauquelins' epoch, in some countries, birth certificates are directly available online.

<!-- ********************************************************************************* -->
<h2 id="open-data">Open data</h2>
Open data is a necessity to produce data usable for science.
<br>Scientific works need to be <b>verifiable</b> and <b>reproductible</b>. Users should have the possibility to download the data on their machines, and do what they want with them.
<br>So data contained in this site are released under a Creative Commons license. See <a href="/about">page About</a> for details.

<div class="bold">Free software (open source)</div>
    Open data could be generated by proprietary (closed) software, because the important thing is data.
<br>But the choice of opengauquelin.org is to use only free software, which permits easier verification and debug.

<!-- ********************************************************************************* -->
<h2 id="data-reliability" class="anchor">Data reliability</h2>
The data contained in OGDB integrate many corrections, so data are more reliable than the sources it uses.
<br><b>But one must be aware that OGDB cannot be considered as reliable.</b> It probably still contains many errors and the only way to be sure of the data is to check each birth date one by one, comparing the values stored in the database with the values written in the civil registries.
<br>Merging data used in historical tests permitted to identify potential errors, <a href="/wiki/issues"><b>listed on page issues</b></a>

<h3 id="trust-level">Trust level</h3>
Trust level is indicating data reliability.
<br>Five levels were defined in OGDB :

<ul class="spaced margin-top">
    <li>
        <div class="bold">1 - Hospital Certificate (HC)</div>
        Original document available and verifiable by anyone.
    </li>
    <li>
        <div class="bold">2 - Birth Certificate (BC)</div>
        Original document available and verifiable by anyone.
    </li>
    <li>
        <div class="bold">3 - Birth Record (BR)</div>
        (= copy of the BC by an officer - may contain errors)
        <br>Original document available and verifiable by anyone.
    </li>
    <li>
        <div class="bold">4 - Other documents</div>
        This level gathers other official documents. 
        <br>For example, people born in Paris (France) before 1860 cannot be related to a birth certificate for historical reasons: part of the Paris archives were destroyed in 1871 (events known as "La commune de Paris", some acts and their backups were burnt), and acts prior to 1860 were lost. Reconstituted acts are available online, but they don't contain birth time.
        <br>This level also concerns persons born before the apparition of birth certificates. Some documents only contain birth day (like baptism acts), other also contain birth time (for members of royal families).
    </li>
    <li>
        <div class="bold">5 - To check</div>
        Data not related to any official document, like Gauquelin and Müller data, or data found on the web.
        <br>Need to be matched against a BC.
    </li>
</ul>

Most births that occured in the 19th and early 20th century do not have Hospital Certificate.
<br>So the best we can hope for OGDB is to reach level 2.
<br>Currently, almost all data of OGDB are level 5.

<br><br><b>Remark</b> : Françoise and Michel Gauquelin, Arno Müller and the three groups of skeptics were apparently taking a lot of care to avoid errors. But in practice, <b>they didn't have access to Birth Certificates</b>: they were writing to the town halls ; an officer was copying the information contained in the BC and sending them back a letter. <b>They were only recieving Birth Records (level 3)</b>.

<br><br>So all Gauquelin and related data are considered level 5 because of error sources:
<ul class="margin-top0">
    <li>The transcription from BC to BR.</li>
    <li>Error when copying the BR in their files.</li>
    <li>Error when original paper files where transcribed in an electronic form.</li>
    <li>Errors introduced during file conversions and transformations.</li>
    <li>Bugs in g5 program</li>
</ul>

</div><!-- end class="home" -->
