
<!-- ************************************* -->
<div class="sitelinks">
    <div><a href="/occupations">Lists by occupation</a></div>
    <div><a href="/issues">Persons' issues</a></div>
    <div><a href="/sources">Information sources</a></div>
    <div><center><hr class="hr-cool"></center></div>
    <div><a href="/about">About</a></div>
    <div><a href="/downloads">Downloads</a> - <a href="/downloads2">2</a></div>
    <div><a href="/stats">DB stats</a></div>
    <div><center><hr class="hr-cool"></center></div>
    <div><a href="/install">Install</a></div>
    <div><a href="/wiki">Wiki - Participate</a></div>
    <div><center><hr class="hr-cool"></center></div>
    <div><a href="/future">Future</a></div>
</div>

{{with .Details.Stats}}
<div class="intro">
The purpose of this site is to build a <b>reliable</b> and <b>verifiable</b> database of famous persons, <b>with their birth time</b>.

<br><br>It currently contains the data used to perform <a href="https://tig12.github.io/gauquelin5/historical-tests.html">statistical tests on astrology</a>, between 1955 and 1996 (<a href="/history">"historical data"</a>).
<br>These data were gathered by <b>Michel and Françoise Gauquelin</b>, <b>Arno Müller</b>, <b>Suitbert Ertel</b> and 3 groups of skeptics: <b>Comité Para</b> - Belgium 1976, <b>CSICOP</b> - U.S. 1979, <b>CFEPP</b> - France 1996.

<br><br>This gives <b>{{numberFormat .N_time}} persons with birth time</b> and <b>{{numberFormat .N_day}} without birth time</b>.

<br>Born between {{.YearMin}} and {{.YearMax}} - <a href="/stats">See more statistics</a>

</div>

{{end}}

