<div class="historical">

<div class="intro">
    Here is a quasi complete reconstitution of the data used in published statistical tests on astrology, between 1955 and 1996.
    <br>
</div>

<ul>
    <li class="author">
        <span class="author">Michel &amp; Françoise Gauquelin</span>
        <ul>
        
            <li class="datagroup">
                <span class="datagroup">Gauquelin 1955, "L'influence des astres"</span>
                <span class="todo inline-box margin-left2">WIP, links not yet operational</span>
                
                <!-- <a href="https://tig12.github.io/gauquelin5/g55.html">See tig12.github.io</a> -->
                <ul class="datalist">
                    <li><a href="/group/g55-01-576-physicians"><b>576 MEMBRES ASSOCIÉS ET CORRESPONDANTS DE L'ACADÉMIE DE MÉDECINE</b></a></li>
                    <li><a href="/group/g55-02-508-physicians"><b>508 AUTRES MEDECINS NOTABLES</b></a></li>
                    <li><a href="/group/g55-03-570-sportsmen"><b>570 SPORTIFS</b></a></li>
                    <li>
                        <a href="/group/g55-04-676-military"><b>676 MILITAIRES</b></a></li>
                        <ul>
                            <li><a href="/group/g55-04-596-officers">596 Généraux, Amiraux et Officiers supérieurs</a></li>
                            <li><a href="/group/g55-04-81-saint-cyriens">81 Saint-Cyriens morts a la guerre</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/group/g55-05-906-painters"><b>906 PEINTRES</b></a>
                        <ul>
                            <li><a href="g55-05-237-peintres-celebres">237 Peintres célébres</a></li>
                            <li><a href="g55-05-668-peintres-notables">668 Peintres notables</a></li>
                        </ul>
                    </li>
                    <li><a href="/group/g55-06-361-minor-painters"><b>361 PEINTRES MINEURS</b></a></li>
                    
                    <li><a href="/group/g55-07-500-actors"><b>500 ACTEURS</b></a></li>
                        <ul>
                            <li><a href="g55-07-122-acteurs-celebres-du-siecle-dernier">122 Acteurs célèbres du siècle dernier</a></li>
                            <li><a href="g55-07-225-acteurs-contemporains-celebres">225 Acteurs contemporains célébres</a></li>
                            <li><a href="g55-07-153-acteurs-contemporains-moins-connus">153 Acteurs contemporains moins connus</a></li>
                        </ul>
                    
                    <li>
                        <a href="/group/g55-08-494-deputies"><b>494 DEPUTES</b></a>
                        <ul>
                            <li><a href="/group/g55-08-135-deputes-connus">135 Députés connus</a></li>
                            <li><a href="/group/g55-08-359-deputes-moins-connus">359 Députés moins connus</a></li>
                            
                        </ul>
                    </li>
                    <li><a href="/group/g55-09-349-scientists"><b>349 MEMBRES, ASSOCIES ET CORRESPONDANTS DE L'ACADEMIE DES SCIENCES</b></a></li>
                    <li>
                        <a href="/group/g55-882-priests"><b>884 PRETRES</b></a>
                        <ul>
                            <li><a href="/group/g55-10-513-priests-paris">513 Prêtres du diocèse de Paris</a></li>
                            <li><a href="/group/g55-10-369-priests-albi">369 Prêtres du diocèse d'Albi</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        
            <li class="datagroup">
                <span class="help datagroup" title="LERRCP: Laboratoire d'Étude des Relations entre Rythmes Cosmiques et Psycho-physiologiques&#10;Structure used by Michel and Françoise Gauquelin to publish their data and results, between 1970 and 1984.">LERRCP&nbsp;&nbsp;<span class="info">?</span></span>
 
                <ul class="datalist">
                    <!-- 
                    <li class="nodownload">
                        <b>Groups published in <span class="help" title="LERRCP series A: 6 booklets containing birth dates, published by the Gauquelins in 1970 and 1971">LERRCP A</span> files</b> 
                        <span class="todo inline-box margin-left2">TODO</span>
                        <a href="https://tig12.github.io/gauquelin5/g55.html">See tig12.github.io</a>
                    </li>
                    -->
                    <li>
                        <a href="{{.Details.DownloadBase}}/history/1970-1984-gauquelin/A1.csv.zip" title="Download CSV">
                            <img class="vertical-align-bottom padding-right" src="/static/img/download.png" alt="Download CSV">
                        </a>
                        <a href="/group/a1">A1: <b>2088 sports champions</b></a>
                    </li>
                    <li>
                        <a href="{{.Details.DownloadBase}}/history/1970-1984-gauquelin/A2.csv.zip" title="Download CSV">
                            <img class="vertical-align-bottom padding-right" src="/static/img/download.png" alt="Download CSV">
                        </a>
                        <a href="/group/a2">A2: <b>3643 scientists and medical doctors</b></a>
                    </li>
                    <li>
                        <a href="{{.Details.DownloadBase}}/history/1970-1984-gauquelin/A3.csv.zip" title="Download CSV">
                            <img class="vertical-align-bottom padding-right" src="/static/img/download.png" alt="Download CSV">
                        </a>
                        <a href="/group/a3">A3: <b>3046 military men</b></a>
                    </li>
                    <li>
                        <a href="{{.Details.DownloadBase}}/history/1970-1984-gauquelin/A4.csv.zip" title="Download CSV">
                            <img class="vertical-align-bottom padding-right" src="/static/img/download.png" alt="Download CSV">
                        </a>
                        <a href="/group/a4">A4: <b>2720 painters and French musicians</b></a>
                    </li>
                    <li>
                        <a href="{{.Details.DownloadBase}}/history/1970-1984-gauquelin/A5.csv.zip" title="Download CSV">
                            <img class="vertical-align-bottom padding-right" src="/static/img/download.png" alt="Download CSV">
                        </a>
                        <a href="/group/a5">A5: <b>2410 actors and politicians</b></a>
                    </li>
                    <li>
                        <a href="{{.Details.DownloadBase}}/history/1970-1984-gauquelin/A6.csv.zip" title="Download CSV">
                            <img class="vertical-align-bottom padding-right" src="/static/img/download.png" alt="Download CSV">
                        </a>
                        <a href="/group/a6">A6: <b>2026 writers and journalists</b></a>
                    </li>
                    <li>
                        <a href="{{.Details.DownloadBase}}/history/1970-1984-gauquelin/D6.csv.zip" title="Download CSV">
                            <img class="vertical-align-bottom padding-right" src="/static/img/download.png" alt="Download CSV">
                        </a>
                        <a href="/group/d6">D6: <b>449 European sports champions</b></a>
                    </li>
                    <li>
                        <a href="{{.Details.DownloadBase}}/history/1970-1984-gauquelin/D10.csv.zip" title="Download CSV">
                            <img class="vertical-align-bottom padding-right" src="/static/img/download.png" alt="Download CSV">
                        </a>
                        <a href="/group/d10">D10: <b>1396 successful Americans</b></a>
                    </li>
                    <li>
                        <a href="{{.Details.DownloadBase}}/history/1970-1984-gauquelin/E1.csv.zip" title="Download CSV">
                            <img class="vertical-align-bottom padding-right" src="/static/img/download.png" alt="Download CSV">
                        </a>
                        <a href="/group/e1">E1: <b>2153 French physicians, military men and executives</b></a>
                    </li>
                    <li>
                        <a href="{{.Details.DownloadBase}}/history/1970-1984-gauquelin/E3.csv.zip" title="Download CSV">
                            <img class="vertical-align-bottom padding-right" src="/static/img/download.png" alt="Download CSV">
                        </a>
                        <a href="/group/e3">E3: <b>1539 French writers, artists, actors, politicians and journalists</b></a>
                    </li>
                </ul>
            </li>
            
        </ul>
    </li><!-- end gauquelin -->
    
    <li class="author">
        <span class="author">Arno Müller</span>
        
        <ul>
            <li class="datagroup">
                <span class="help datagroup" title="Astro-Forschungs-Daten&#10;Five booklets self-published by Arno Müller, 1991 - 1994">Astro-Forschungs-Daten&nbsp;&nbsp;<span class="info">?</span></span>
                <ul class="datalist">
                    <li>
                        <a href="{{.Details.DownloadBase}}/history/1991-muller1-writers/muller-402-writers.csv.zip" title="Download CSV">
                            <img class="vertical-align-bottom padding-right" src="/static/img/download.png" alt="Download CSV">
                        </a>
                        <a href="/group/muller-afd1-writers">Müller 1, <b>402 Italian writers</b></a>
                    </li>
                    <li>
                        <a href="{{.Details.DownloadBase}}/history/1991-muller1-writers/muller-100-writers.csv.zip" title="Download CSV">
                            <img class="vertical-align-bottom padding-right" src="/static/img/download.png" alt="Download CSV">
                        </a>
                        <a href="/group/muller-afd1-100writers">Müller 1, <b>100 Italian writers without birth time</b></a>
                    </li>
                    <li>
                        <a href="{{.Details.DownloadBase}}/history/1992-muller2-men/muller-612-men.csv.zip" title="Download CSV">
                            <img class="vertical-align-bottom padding-right" src="/static/img/download.png" alt="Download CSV">
                        </a>
                        <a href="/group/muller-afd2-men">Müller 2, <b>612 famous men</b></a>
                    </li>
                    <li>
                        <a href="{{.Details.DownloadBase}}/history/1993-muller3-women/muller-234-women.csv.zip" title="Download CSV">
                            <img class="vertical-align-bottom padding-right" src="/static/img/download.png" alt="Download CSV">
                        </a>
                        <a href="/group/muller-afd3-women">Müller 3, <b>234 famous women</b></a>
                    </li>
                    <li class="nodownload">
                        Müller 4, <b>1145 members of German dynasties</b>
                        <span class="todo inline-box margin-left2">TODO</span>
                        <a href="https://tig12.github.io/gauquelin5/muller4-1145-dynasties.html">Formatted text file available</a>
                    </li>
                    <li>
                        <a href="{{.Details.DownloadBase}}/history/1994-muller5-medics/muller-1083-medics.csv.zip" title="Download CSV">
                            <img class="vertical-align-bottom padding-right" src="/static/img/download.png" alt="Download CSV">
                        </a>
                        <a href="/group/muller-afd5-medics">Müller 5, <b>1083 members of the French Académie de Médecine</b></a>
                    </li>
                </ul>
            </li>
            
            <li class="datagroup">
                <span class="datagroup">Unpublished data</span>
                <ul class="datalist">
                    <li><b>1288 German physicians</b> - <span class="todo inline-box margin-left2">NOT DONE - Data possibly lost</span></li>
                </ul>
            </li>
        </ul>
        
        

    </li>
    
    <li class="author">
        <span class="author">Comité PARA - Belgian skeptics 1976</span>
        
        <ul class="naked">
            <li class="nodownload">
                <b><a href="/group/cpara">535 athletes</a></b>, group of the official test
            </li>
            <li class="nodownload">
                <b><a href="/group/ertel-7-para-lowers">76 unpublished athletes</a></b> (= Ertel's subsample n&deg; 7)
            </li>
        </ul>
    </li>
    
    <li class="author">
        <span class="author">CSICOP - U.S. skeptics 1979</span>
        <ul class="naked">
            <li>
                <a href="{{.Details.DownloadBase}}/history/1979-csicop/csicop-irving-408.csv.zip" title="Download CSV">
                    <img class="vertical-align-bottom padding-right" src="/static/img/download.png" alt="Download CSV">
                </a>
                <a href="/group/csicop"><b>408 American athletes</b> - Complete group</a>
            </li>
            <li class="nodownload">
                <a href="/group/csicop-batch1">Batch 1 - 128 American athletes</a>
            </li>
            <li class="nodownload">
                <a href="/group/csicop-batch2">Batch 2 - 98 American athletes</a>
            </li>
            <li class="nodownload">
                <a href="/group/csicop-batch3">Batch 3 - 82 American athletes</a>
            </li>
        </ul>
    </li>
    
    <li class="author">
        <span class="author">CFEPP - French skeptics 1996</span>
        <ul class="naked">
            <li class="nodownload">
                <b><a href="/group/cfepp-1066">1066 athletes</a></b>, official list published by CFEPP
            </li>
            <li class="nodownload">
                <b><a href="/group/cfepp-1120">1120 athletes</a></b>, CFEPP + Nienhuys additions
            </li>
        </ul>
    </li>
    
    <li class="author">
        <span class="author">Suitbert Ertel</span>
        <ul class="naked">
            <li>
                <a href="{{.Details.DownloadBase}}/history/" title="Download CSV">
                    <img class="vertical-align-bottom padding-right" src="/static/img/download.png" alt="Download CSV">
                </a>
                <a href="/group/ertel-4384-sport"><b>4384 athletes</b> - Complete group</a> (3155 timed and 1229 untimed)
            </li>
            <li class="nodownload">
                <table>
                    <tr><td><a href="/group/ertel-1-first-french">1 - First French</a></td><td>N = 553</td><td></td></tr>
                    <tr><td><a href="/group/ertel-2-first-european">2 - First European</a></td><td>N = 1202</td><td></td></tr>
                    <tr><td><a href="/group/ertel-3-italian-football">3 - Italian football</a></td><td>N = 599</td><td>untimed</td></td></tr>
                    <tr><td><a href="/group/ertel-4-german-various">4 - German various</a></td><td>N = 115</td><td>untimed</td></td></tr>
                    <tr><td><a href="/group/ertel-5-french-occasionals">5 - French occasionals</a>&nbsp;&nbsp;</td><td>N = 202</td><td>untimed</td></td></tr>
                    <tr><td><a href="/group/ertel-6-para-champions">6 - Para champions</a></td><td>N = 332</td><td></td></tr>
                    <tr><td><a href="/group/ertel-7-para-lowers">7 - Para lowers</a></td><td>N = 76</td><td></td></tr>
                    <tr><td><a href="/group/ertel-8-csicop-us">8 - CSICOP-U.S.</a></td><td>N = 192</td><td></td></tr>
                    <tr><td><a href="/group/ertel-9-second-european">9 - Second European</a></td><td>N = 450</td><td>untimed</td></td></tr>
                    <tr><td><a href="/group/ertel-10-italian-cyclists">10 - Italian cyclists</a></td><td>N = 24</td><td>untimed</td></td></tr>
                    <tr><td><a href="/group/ertel-11-lower-french">11 - Lower French</a></td><td>N = 453</td><td>untimed</td></td></tr>
                    <tr><td><a href="/group/ertel-12-gauq-us">12 - GAUQ-U.S.</a></td><td>N = 159</td><td></td></tr>
                    <tr><td><a href="/group/ertel-13-plus-special">13 - Plus special</a></td><td>N = 27</td><td>untimed</td></td></tr>
                </table>
            </li>

        </ul>
    </li>

</ul>
</div><!-- end class="historical" -->
