<div id="page-occus">

<table class="datatable alternate">
<thead>
    <tr>
        <th>Download</th>
        <th>Name</th>
        <th><span title="Nb of persons with this occupation">N</span></th>
        <th>Parents</th>
        <th>Wikidata</th>
    </tr>
</thead>
<tbody>
{{range .Details.Occus}}
{{if ne .N 0}}
    {{$slug := .Slug}}
    <tr>
        <td>
            <a href="{{$.Details.DownloadBase}}/{{.Download}}" title="Download CSV file with all {{.Name}}s">
                <img class="vertical-align-bottom" src="/static/img/download.png" alt="Download group in CSV">
            </a>
        </td>
        <td>
            <div class="whitespace-pre"><a href="/group/{{.Slug}}">{{.Name}}</a></div>
        </td>
        <td>{{.N}}</td>
        <td>
            {{range .ParentSlugs}}
                <div><a href="/group/{{.}}">{{index $.Details.Slug_Name .}}</a></div>
            {{end}}
        </td>
        <td><a href="{{$.Details.WD_ENTITY_BASE_URL}}/{{.WD}}">{{.WD}}</a></td>
    </tr>
{{end}}
{{end}} {{/* range .Details.Occus */}}
</tbody>
</table>    

</div><!-- end id="page-occus" -->
