{{/* 
    To add a tab title and url, see
        - src/static/lib/tabstrip/tabstrip.js 
        - src/view/header.html (end of file)
        - control/index.go
*/}}

<div class="home">

<div id="tab-home" class="tabcontent">
    <p>
        {{ template "index-home.html" . }}
    </p>
</div>
                                                                                                                                                      
<div id="tab-history" class="tabcontent">
    <p>
        {{ template "index-history.html" . }}
    </p>
</div>

<div id="tab-occus" class="tabcontent">
    <p>
        {{ template "index-occus.html" . }}
    </p>
</div>

<div id="tab-wiki" class="tabcontent">
    <p>
        {{ template "index-wiki.html" . }}
    </p>
</div>

<div id="tab-candidates" class="tabcontent">
    <p>
        {{ template "index-candidates.html" . }}
    </p>
</div>

</div><!-- end class="home" -->
