
<h1>
Issues (questionable data)
<br>Open Gauquelin database
</h1>

<div class="intro">
Current page shows {{.Details.NIssues}} potential individual problematic cases in Open Gauquelin database.
</div>

{{ template "issues-nav.html" $ }}


<table class="datatable alternate">
<thead>
    <tr>
        <th>Person</th>
        <th title="Country">Cy</th>
        <th>Ids</th>
        <th>Occupations</th>
        <th>Issue<br>type</th>
        <th>Issue</th>
    </tr>
</thead>
<tbody>
{{range .Details.Issues}}
    <tr itemscope itemtype="https://schema.org/Person">
        <td>
            <b><a itemprop="name" href="/person/{{.PersonSlug}}">{{.PersonName.DisplayedName}}</a></b>
            {{if .PersonBirth.Date}}<div itemprop="birthDate">{{.PersonBirth.Date}}</div>{{end}}
            {{if and (not .PersonBirth.Date) .PersonBirth.DateUT}}<div itemprop="birthDate">{{.PersonBirth.DateUT}}</div>{{end}}
        </td>
        <td>
            {{.PersonBirth.Place.Cy}}
        </td>
        <td>
            {{range $source, $id := .PersonIdsPartial}}
                <div>{{$id}}</div>
            {{end}}
        </td>
        <td>
            {{range .PersonOccus}}
            <div itemprop="hasOccupation"><a href="/group/{{.}}">{{index $.Details.GroupSlugNames .}}</a></div>
            {{end}}
        </td>
        {{/* 
        <td><a href="/issues/{{.IssueType}}">{{.IssueType}}</a></td>
        */}}
        <td>
            <a href="/wiki/project/{{.WPSlug}}">{{.WPName}}</a>
        </td>
        <td>
            <div>{{.IssueDescription | safeHTML}}</div>
            <div>Issue unique id: <b>{{.IssueSlug}}</b></div>
        </td>
    </tr>
{{end}}
</tbody>
</table>

{{ template "issues-nav.html" $ }}
