
<h1>
Persons' issues
<br>Open Gauquelin DB
</h1>

<div class="intro">
Current page shows potential individual problematic cases in Open Gauquelin database.
</div>

<table class="datatable alternate">
<thead>
    <tr>
        <th>Person</th>
        <th>Issues</th>
    </tr>
</thead>
<tbody>

{{range .Details.Issues}}
    <tr>
        <td><a href="/person/{{.PersonSlug}}">{{.PersonName.DisplayedName}}</a></td>
        <td>
            {{range .Values}}
                <div>{{. | safeHTML}}</div>
            {{end}}
        </td>
    </tr>

{{end}}

</tbody>
</table>
