<style>
/* 
    table.dataTable tr.odd .sorting_1 { background-color: #E2E4FF; }
    table.dataTable tr.even .sorting_1 { background-color: white; }                            
    table#example.dataTable tbody tr:hover {
      background-color: #ffa;
    }
     
    table#example.dataTable tbody tr:hover > .sorting_1 {
      background-color: #ffa;
    }
    table#occupations tbody tr.odd {background: linear-gradient(to left, #5d9cba, #aadff7);}
    table#occupations tbody tr.even {background: linear-gradient(to right, #5d9cba, #aadff7);}
    
    
    table#occupations tr.odd{background-color:#5d9cba;}
    table#occupations tr.even{background-color:#aadff7;}
    table#occupations tbody tr:hover{background-color:lightgrey;}
    table#occupations td{border:1px solid black;}
*/
    table#occupations th{text-align:left;}
    table#occupations tr.odd{background-color:#eee;}
    table#occupations tr.even{background-color:#ddd;}
</style>
<script>
$(document).ready(function() {
    $('#occupations').DataTable({
        "order": [[ 1, 'asc' ]],
        "pageLength": 500,
        "paging": false,
        "searching": false,
        "orderClasses": false, // Highlight the columns being ordered
        "bInfo" : false, // hide "Showing 1 of N entries"
    });
} );
</script>

<h1>Lists by occupation</h1>

<table id="occupations" class="display" style="width:100%">
<thead>
    <tr>
        <th></th>
        <th>Name</th>
        <th><span title="Nb of persons with this occupation">N</span></th>
        <th>Parents</th>
        <th>Wikidata</th>
    </tr>
</thead>
<tbody>
{{range .Details.Occus}}
{{if ne .N 0}}
    {{$slug := .Slug}}
    <tr>
        <td>
            <a href="{{$.Details.DownloadBase}}/{{.Download}}" title="Download CSV file with all {{.Name}}s">
                <img class="vertical-align-bottom" src="/static/img/download.png" alt="Download group in CSV">
            </a>
        </td>
        <td>
            <div class="whitespace-pre"><a href="/occupation/{{.Slug}}">{{.Name}}</a></div>
        </td>
        <td>{{.N}}</td>
        <td>
            {{range .ParentSlugs}}
                <div><a href="/occupation/{{.}}">{{index $.Details.Slug_Name .}}</a></div>
            {{end}}
        </td>
        <td><a href="{{$.Details.WD_ENTITY_BASE_URL}}/{{.WD}}">{{.WD}}</a></td>
    </tr>
{{end}}
{{end}} {{/* range .Details.Occus */}}
</tbody>
</table>    
