{{/* 
    Called by person.html
    . of current template corresponds to . of person.html
*/}}


{{with .Details.Person}}

<!-- ======== col 1 ======== -->
<div class="col1 float-left">

    <!-- ***************** General summary ******************** -->
    <div class="general-summary">
    
        <div itemprop="name" class="bold big3">
            <span>{{.Name.DisplayedName}}</span>
        </div>

        <div class="bold">
            <!-- ***************** Trust ******************** -->
            <a href="/#data-reliability" title='See paragraph "Data Reliability" for a definition of trust level'>Trust level</a> : 
            <span class="cursor-help" title="{{.Trust | trustDescription}}">{{.Trust}}</span>
        </div>
        
        <div class="bold big1 margin-top05">
            <!-- ***************** Occupations ******************** -->
            {{range .Occus}}
                <div itemprop="hasOccupation" class="right"><a href="/group/{{.}}">{{index $.Details.GroupSlugNames .}}</a></div>
            {{end}}
        </div>

        <table class="margin-top05">
        
            <!-- ***************** Name ******************** -->
            {{if .Name.Spouse}}
            <tr>
                <td><b>Spouse name</b></td>
                <td>{{.Name.Spouse}}</td>
            </tr>
            {{end}}
            
            {{if or .Name.Official.Family .Name.Official.Given}}
                <tr>
                    <td colspan="2"><b>Official name</b></td>
                </tr>
                {{if .Name.Official.Family}}
                    <tr>
                        <td class="padding-left">Family</td>
                        <td>{{.Name.Official.Family}}</td>
                    </tr>
                {{end}}
                {{if .Name.Official.Given}}
                    <tr>
                        <td class="padding-left">Given</td>
                        <td>{{.Name.Official.Given}}</td>
                    </tr>
                {{end}}
            {{end}}
            
            {{if .Name.Nobl}}
            <tr>
                <td class="padding-left">Nobiliary particle</td>
                <td>{{.Name.Nobl}}</td>
            </tr>
            {{end}}
            
            <!-- ***************** Gender ******************** -->
            {{if .Sex}}
                {{$gender := "" }}
                {{if eq .Sex "M"}}
                    {{$gender = "https://schema.org/Male"}}
                {{else}}
                    {{$gender = "https://schema.org/Female"}}
                {{end}}
                <tr>
                    <td><b>Gender</b></td>
                    <td itemprop="gender" content="{{$gender}}">{{.Sex}}</td>
                </tr>
            {{end}}
            
            <!-- ***************** Birth date ******************** -->
            {{if .Birth.Date}}
                <tr>
                    <td colspan="2"><b>Birth</b></td>
                </tr>
                <tr>
                    <td class="padding-left">Date</td>
                    <td itemprop="birthDate">{{.Birth.Date}}</td>
                </tr>
            {{end}}
            
            {{if .Birth.DateUT}}
                <tr>
                    <td class="padding-left">Date UTC</td>
                    <td itemprop="birthDate">{{.Birth.DateUT}}</td>
                </tr>
            {{end}}
            {{if .Birth.TZO}}
                <tr>
                    <td class="padding-left">Timezone offset</td>
                    <td>{{.Birth.TZO}}</td>
                </tr>
            {{end}}
            
            <!-- ***************** Birth place ******************** -->
            {{if .Birth.Place.String}}
                <tr>
                    <td class="padding-left">Place</td>
                    <td itemprop="birthPlace">{{.Birth.Place.Name}}</td>
                </tr>
            {{end}}
            
            
            {{if .Birth.Place.Cy}}
                <tr>
                    <td class="padding-left">Country</td>
                    <td>
                        <span itemprop="containedIn" itemscope itemtype="https://schema.org/Country">
                            {{.Birth.Place.Cy | countryLabel}}
                        </span>
                    </td>  
                </tr>
            {{end}}
            
            {{if .Birth.Place.C1}}
                <tr>
                    <td class="padding-left">Admin level 1</td>
                    <td>{{.Birth.Place.C1}}</td>  
                </tr>
            {{end}}
            
            {{if .Birth.Place.C2}}
                <tr>
                    <td class="padding-left">Admin level 2</td>
                    <td>{{.Birth.Place.C2}}</td>  
                </tr>
            {{end}}
            
            {{if .Birth.Place.C3}}
                <tr>
                    <td class="padding-left">Admin level 3</td>
                    <td>{{.Birth.Place.C3}}</td>  
                </tr>
            {{end}}
            
            {{if and .Birth.Place.Lat .Birth.Place.Lg}}
                <tbody itemprop="geo" itemscope itemtype="https://schema.org/GeoCoordinates">
                    <tr>
                        <td class="padding-left">Longitude</td>
                        <td itemprop="longitude">{{.Birth.Place.Lg}}</td>  
                    </tr>
                    <tr>
                        <td class="padding-left">Latitude</td>
                        <td itemprop="latitude">{{.Birth.Place.Lat}}</td>  
                    </tr>
                </tbody>
            {{end}}
            
            {{if .Birth.Place.Geoid}}
                <tr>
                    <td class="padding-left">Geonames ID</td>
                    <td><a href="http://www.geonames.org/{{printf "%.f" .Birth.Place.Geoid}}">{{printf "%.f" .Birth.Place.Geoid}}</a></td>
                </tr>
            {{end}}
            
            <!-- ***************** Death date ******************** -->
            {{if .Death.Date}}
                <tr>
                    <td colspan="2"><b>Death</b></td>
                </tr>
                <tr>
                    <td class="padding-left">Date</td>
                    <td itemprop="deathDate">{{.Death.Date}}</td>
                </tr>
            {{end}}
            
            {{if .Death.DateUT}}
                <tr>
                    <td class="padding-left">Date UTC</td>
                    <td itemprop="deathDate">{{.Death.DateUT}}</td>
                </tr>
            {{end}}
            {{if .Death.TZO}}
                <tr>
                    <td class="padding-left">Timezone offset</td>
                    <td>{{.Death.TZO}}</td>
                </tr>
            {{end}}
            
            <!-- ***************** Death place ******************** -->
            {{if .Death.Place.String}}
                <tr>
                    <td class="padding-left">Place</td>
                    <td itemprop="deathPlace">{{.Death.Place.Name}}</td>
                </tr>
            {{end}}
            
            
            {{if .Death.Place.Cy}}
                <tr>
                    <td class="padding-left">Country</td>
                    <td>
                        <span itemprop="containedIn" itemscope itemtype="https://schema.org/Country">
                            {{.Death.Place.Cy | countryLabel}}
                        </span>
                    </td>  
                </tr>
            {{end}}
            
            {{if .Death.Place.C1}}
                <tr>
                    <td class="padding-left">Admin level 1</td>
                    <td>{{.Death.Place.C1}}</td>  
                </tr>
            {{end}}
            
            {{if .Death.Place.C2}}
                <tr>
                    <td class="padding-left">Admin level 2</td>
                    <td>{{.Death.Place.C2}}</td>  
                </tr>
            {{end}}
            
            {{if .Death.Place.C3}}
                <tr>
                    <td class="padding-left">Admin level 3</td>
                    <td>{{.Death.Place.C3}}</td>  
                </tr>
            {{end}}
            
            {{if and .Death.Place.Lat .Death.Place.Lg}}
                <tbody itemprop="geo" itemscope itemtype="https://schema.org/GeoCoordinates">
                    <tr>
                        <td class="padding-left">Longitude</td>
                        <td itemprop="longitude">{{.Death.Place.Lg}}</td>  
                    </tr>
                    <tr>
                        <td class="padding-left">Latitude</td>
                        <td itemprop="latitude">{{.Death.Place.Lat}}</td>  
                    </tr>
                </tbody>
            {{end}}
            
            {{if .Death.Place.Geoid}}
                <tr>
                    <td class="padding-left">Geonames ID</td>
                    <td><a href="http://www.geonames.org/{{printf "%.f" .Death.Place.Geoid}}">{{printf "%.f" .Death.Place.Geoid}}</a></td>
                </tr>
            {{end}}
            
            
        </table>
    </div><!-- end class="general-summary" -->
    
</div>
<!-- ======== end col 1 ======== -->

<div class="float-left">{{/* contains col 2 and 3 */}}
<!-- ======== col 2 ======== -->
<div class="col2 float-left">

    {{if $.Details.BelongsToHistoricalGroups}}
    <!-- ***************** Historical groups ******************** -->
    <div class="groups margin-bottom">
        <table>
            <tr>
                <td class="vertical-align-top bold big4 whitespace-nowrap">
                    Historical groups
                </td>
                <td class="vertical-align-top whitespace-nowrap padding-top05 padding-left bold">
                    {{range .Groups}}
                        {{if eq .GroupType "history"}}
                            <div><a href="/group/{{.GroupSlug}}">{{.GroupName}}</a></div>
                        {{end}}
                    {{end}}
                </td>
            </tr>                
        </table>
    </div>
    {{end}}

    <!-- ***************** Identifiers ******************** -->
    <div class="admin margin-bottom">
        <div class="bold big4">Identifiers</div>
        <table class="table-pres">
            <tr>
                <td>Open Gauquelin Database</td>
                <td>{{.Slug}}</td>
            </tr>
            {{range $key, $value := .Partial_ids}}
                <tr>
                    <td>{{index $.Details.Partial_ids_labels $key}}</td>
                    <td>
                        {{if eq $key "wd"}}
                            <a href="https://www.wikidata.org/wiki/{{$value}}">{{$value}}</a>
                        {{else}}
                            {{$value}}
                        {{end}}
                    </td>
                </tr>
            {{end}}
        </table>
    </div>
    
    <div class="sources">
        <!-- ***************** Sources ******************** -->
        {{if .Ids_in_sources}}
        <div class="bold big4">Information sources</div>
        <ul class="naked margin-top0">
            {{if .HasBC}}
                <li><a href="#birth-certificate">Birth certificate</a></li>
            {{end}}
            {{range $key, $value := .Ids_in_sources}}
                <li><a href="/sources#{{$key}}">{{index $.Details.SourceSlugNames $key}}</a></li>
            {{end}}
        </ul>
        {{end}}
    </div>
    
</div>
<!-- ======== end col 2 ======== -->


<!-- ======== col 3 ======== -->
<div class="col3 float-left">

    <!-- ***************** Notes ******************** -->
    {{if .Notes}}
        <div class="notes margin-bottom">
            <h3>Notes</h3>
            {{range .Notes}}
                <div>{{. | safeHTML}}</div>
            {{end}}
        </div>
    {{end}}

    
    <!-- ***************** Wiki projects ******************** -->
    {{with $.Details.WikiProjects}}
        <div class="wikiprojects margin-bottom">
            <div class="bold big4"><a href="/wiki">Wiki projects</a></div>
            <ul class="margin-top0">
                {{range .}}
                    <li><a href="/wiki/project/{{.Slug}}">{{.Name}}</a></li>
                {{end}}
            </ul>
        </div>
    {{end}}

    <!-- ***************** Issues ******************** -->
    {{if .Issues}}
        <div class="issues margin-bottom">
            <div class="bold big4">
                <img src="/static/img/warning.png" alt="WARNING" class="vertical-align-middle"/>
                Issues
            </div>
            {{ range .Issues }}
                <div class="padding-bottom">
                    <div class="bold">{{.Slug}}</div>
                    {{.Description | safeHTML}}
                </div>
            {{end}}
        </div>
    {{end}}
    
</div><!-- ======== end col 3 ======== -->


</div>{{/* end contains col 2 and 3 */}}

<br class="clear-both">

<!-- ******************************************************************************* -->
<!--                                    Official documents                           -->
<!-- ******************************************************************************* -->
{{if and .Acts .Acts.Birth}}
    
    <hr class="margin-top3">

    {{$bc := .Acts.Birth}}
    {{/* <pre>{{$bc | prettyPrint}}</pre> */}}
    
    {{if $.Details.BCImageURLs}}
    
    <h2 id="birth-certificate">Birth certificate</h2>
        
    {{range $.Details.BCImageURLs}}
        <div class="margin-top2">
            <img
                class="margin05 border"
                style="max-width:90%; height:auto; width:auto;"
                src="{{.}}" alt="Original birth certificate">
        </div>
    {{end}}
        
    <div class="flex-wrap margin-top">
    
        <div class="padding-right2 border-right">
            <!-- ********************************************************************************* -->
            <h3>Transcription</h3>
            <table class="table-pres">
                <tr>
                    <td>Official family name</td>
                    <td>{{.Name.Official.Family}}</td>
                </tr>
                <tr>
                    <td>Official given name</td>
                    <td>{{.Name.Official.Given}}</td>
                </tr>
                <tr>
                    <td>Birth date</td>
                    <td>{{.Birth.Date}}</td>
                </tr>
                <tr>
                    <td>Birth place</td>
                    <td>{{.Birth.Place.Name}}</td>
                </tr>
                {{if .Birth.Note}}
                <tr>
                    <td>Notes</td>
                    <td>{{.Birth.Note}}</td>
                </tr>
                {{end}}
            </table>
            
        </div>
    
        <div class="border-left padding-left2">
            <!-- ********************************************************************************* -->
            <h3>Information source</h3>
            {{with $bc.Source.CivilRegistry}}
            <table class="table-pres">
                <tr>
                    <td>Type</td>
                    <td>Birth certificate</td>
                </tr>
                {{if .Name}}
                <tr>
                    <td>Name</td>
                    <td>{{.Name}}</td>
                </tr>
                {{end}}
                <tr>
                {{if .Place}}
                    <td>Place</td>
                    <td>
                        {{if .Place.Name}}{{.Place.Name}}{{end}}
                        {{if .Place.C1}}, {{.Place.C1}}{{end}}
                        {{if .Place.C2}}, {{.Place.C2}}{{end}}
                        {{if .Place.C3}} ({{.Place.C3}}){{end}}
                    </td>
                </tr>
                {{end}}
                {{if .Web}}
                <tr>
                    <td>Internet availability</td>
                    <td>
                        {{if .Web.URL}}
                            <div><a href="{{.Web.URL}}">Online civil registry</a></div>
                        {{end}}
                        {{if .Web.Page}}
                            <div>Page {{.Web.Page}}</div>
                        {{end}}
                    </td>
                </tr>
                {{end}}
                
            </table>
            {{end}}{{/* end with $bc.Source.CivilRegistry */}}
            {{with $bc.Source.Notes}}
                <div>{{. | safeHTML}}</div>
            {{end}}
        </div>
        
    </div><!-- end flex-wrap -->
    
    {{end}}{{/* end if $.Details.BCImageURLs */}}
    
    <!-- ************************************* -->
    <h3 class="margin-top">History of this document</h3>
    {{if $bc.Header.History}}
    {{with $bc.Header.History}}
        <ul class="margin-top0">
        {{ range $key, $value := . }}
            <li>{{.Date}}, {{.Actor}}: {{.Action}} </li>
        {{end}}
        </ul>
    {{end}}
    {{end}}

{{end}}{{/* end if .Acts.Birth */}}
    
{{end}} {{/* with .Details.Person */}}
