
{{with .Details.Person}}
<h1>
    {{.GetName}}
    <div class="subtitle">{{.GetBirthDay}}</div>
</h1>

<table class="table-pres">

<!-- ***************** General ******************** -->
    <tr>
        <td>Name</td>
        <td>{{.GetName}}</td>
    </tr>
    {{if .Sex}}
    <tr>
        <td>Sex</td>
        <td>{{.Sex}}</td>
    </tr>
    {{end}}
    {{if .Birth.Date}}
    <tr>
        <td>Birth</td>
        <td>{{.Birth.Date}}</td>
    </tr>
    {{end}}
    {{if .Birth.DateUT}}
    <tr>
        <td>Birth (UTC)</td>
        <td>{{.Birth.DateUT}}</td>
    </tr>
    {{end}}
    <tr>
        <td>Birth Place</td>
        <td>{{.Birth.Place.String}}</td>
    </tr>
    <tr>
        <td>Occupations</td>
        <td>
            {{range .Occus}}
            <div><a href="/group/{{.}}">{{index $.Details.GroupSlugNames .}}</a></div>
            {{end}}
        </td>
    </tr>
    <tr>
        <td>Trust level</td>
        <td>{{.Trust}}</td>
    </tr>
</table>

<!-- ***************** Information sources ******************** -->
<h3>Identifiers</h3>
<table class="table-pres">
    <tr>
        <td><a href="/sources#g5">Open Gauquelin Database</a></td>
        <td>{{.Slug}}</td>
    </tr>
    {{range $key, $value := .Ids_in_sources}}
        {{if or (eq $key "lerrcp") (eq $key "afd") (eq $key "wd")}}
        <tr>
            <td><a href="/sources#{{$key}}">{{$key | sourceNameFromSlug}}</a></td>
            <td>
                {{if eq $key "wd"}}
                <a href="{{$.Details.WikidataEntityURL}}/{{$value}}">{{$value}}</a>
                {{else}}
                    {{$value}}
                {{end}}
            </td>
        </tr>
        {{end}}
    {{end}}
</table>

<!-- ***************** Name details ******************** -->
<h3>Name details</h3>
<table class="table-pres">
    {{if .Name.Family}}
    <tr>
        <td>Family name</td>
        <td>{{.Name.Family}}</td>
    </tr>
    {{end}}
    {{if .Name.Given}}
    <tr>
        <td>Given name</td>
        <td>{{.Name.Given}}</td>
    </tr>
    {{end}}
    {{if .Name.Spouse}}
    <tr>
        <td>Spouse name</td>
        <td>{{.Name.Spouse}}</td>
    </tr>
    {{end}}
    {{if or .Name.Official.Family .Name.Official.Given}}
        <tr>
            <td>Official name</td>
            <td></td>
        </tr>
        {{if .Name.Official.Family}}
            <tr>
                <td>Family name</td>
                <td>{{.Name.Official.Family}}</td>
            </tr>
        {{end}}
        {{if .Name.Official.Given}}
            <tr>
                <td>Given name</td>
                <td>{{.Name.Official.Given}}</td>
            </tr>
        {{end}}
    {{end}}
    {{if .Name.Nobl}}
    <tr>
        <td>Nobiliary particle</td>
        <td>{{.Name.Nobl}}</td>
    </tr>
    {{end}}
</table>
    
<!-- ***************** Birth place details ******************** -->
<h3>Birth place</h3>
<table class="table-pres">
    {{if .Birth.Place.Name}}
    <tr>
        <td>Name</td>
        <td>{{.Birth.Place.Name}}</td>  
    </tr>
    {{end}}
    {{if .Birth.Place.Cy}}
    <tr>
        <td>Country</td>
        <td>{{.Birth.Place.Cy}}</td>  
    </tr>
    {{end}}
    {{if .Birth.Place.C1}}
    <tr>
        <td>Admin level 1</td>
        <td>{{.Birth.Place.C1}}</td>  
    </tr>
    {{end}}
    {{if .Birth.Place.C2}}
    <tr>
        <td>Admin level 2</td>
        <td>{{.Birth.Place.C2}}</td>  
    </tr>
    {{end}}
    {{if .Birth.Place.C3}}
    <tr>
        <td>Admin level 3</td>
        <td>{{.Birth.Place.C3}}</td>  
    </tr>
    {{end}}
    {{if .Birth.Place.Lg}}
    <tr>
        <td>Longitude</td>
        <td>{{.Birth.Place.Lg}}</td>  
    </tr>
    {{end}}
    {{if .Birth.Place.Lg}}
    <tr>
        <td>Latitude</td>
        <td>{{.Birth.Place.Lat}}</td>  
    </tr>
    {{end}}
    {{if .Birth.Place.Geoid}}
    <tr>
        <td>Geonames ID</td>
        <td><a href="http://www.geonames.org/{{.Birth.Place.Geoid}}">{{.Birth.Place.Geoid}}</a></td>  
    </tr>
    {{end}}
</table>
    
<!-- ********************************************************************************* -->
<h2>Build history</h2>
Successive commands issued with Gauquelin5 program to build this person, and corresponding retained values.
{{range .History}}
    {{$sourceSlug := .Source}}
    <h3>Command: <code>{{.Command}}</code></h3>
    <div>Execution date: {{.Date}}</div>
    
    {{if ne .Source "tweak"}}
    
        <div class="margin-top05 margin-bottom">
            Information source: <b>
            <a href="/sources#{{.Source}}">{{.Source | sourceNameFromSlug}}</a></b>
        </div>

        <div class="float-left margin-right margin-left">
            Raw data:
            {{with index $.Details.Person.Raw $sourceSlug}}
                {{$value := .}}
                <table class="raw margin margin-left0">
                    {{range $sourceSlug | rawPersonSortedFields}}
                    <tr><td>{{.}}</td><td>{{index $value .}}</td></tr>
                    {{end}}
                </table>
            {{end}}
        </div>
            
        <div class="float-left margin-right margin-left">
            Values:
            <table class="raw margin-top"><tr><td>
                <pre>{{.Values | prettyPrint}}</pre>
            </td></tr></table>
        </div>
        <br class="clear-left">
        
    {{else}}
        {{/* tweaks */}}
    
        <div class="margin-top05 margin-bottom">
            Information source: <b>"tweak file" (human correction)</b>
        </div>

        <div class="float-left margin-right margin-left">
            Raw data:
            <table class="raw margin-top"><tr><td>
                <pre>{{.Values | prettyPrint}}</pre>
            </td></tr></table>
        </div>
            
        <div class="float-left margin-right margin-left">
            Values:
            <table class="raw margin-top"><tr><td>
                <pre>{{index $.Details.Person.Raw "tweak" | prettyPrint}}</pre>
            </td></tr></table>
        </div>
        <br class="clear-left">
    
    {{end}}

{{end}}


{{end}} {{/* with .Details.Person */}}