{{/* 
    Called by person.html
    . of current template corresponds to . of person.html
*/}}

{{with .Details.Person}}

Successive commands issued with Gauquelin5 program to build this person, and corresponding retained values.
{{range .History}}
    {{$sourceSlug := .Source}}
    <h3>Command: <code>{{.Command}}</code></h3>
    <div>Execution date: {{.Date}}</div>
    
    <div class="margin-top05 margin-bottom">
        Information source: <b>
        <a href="/sources#{{.Source}}">{{.Source | sourceNameFromSlug}}</a></b>
    </div>

    <div class="float-left margin-right margin-left">
        Raw data:
        {{with .Raw}}
            {{$value := .}}
            <table class="raw margin margin-left0">
                {{range $sourceSlug | rawPersonSortedFields}}
                <tr><td>{{.}}</td><td>{{index $value .}}</td></tr>
                {{end}}
            </table>
        {{end}}
    </div>
        
    <div class="float-left margin-right margin-left">
        New values:
        <table class="raw margin-top">
            <tr>
                <td><pre>{{.New | prettyPrint}}</pre></td>
            </tr>
        </table>
    </div>
    <br class="clear-left">

{{end}}

{{end}} {{/* with .Details.Person */}}