
<div class="person" itemscope itemtype="https://schema.org/Person">

{{with .Details.Person}}
<h1 class="padding-bottom2">
    {{.Name.DisplayedName}}
    <div class="subtitle">
        {{.GetBirthDay}}
        {{if .GetDeathDay}}
             - {{.GetDeathDay}}
        {{end}}
    </div>
</h1>


{{if lt $.Details.Person.Trust "3"}}
    <div style="
        position:absolute;
        top:85px; left:-45px;
        transform: rotate(-45deg);
        padding:3px 50px;
        background:#dbe599;
        border:1px solid blue;
    ">Verified data</div>
{{end}}


<div class="tab">
    <button class="tablinks defaultOpen" onclick="openTab(event, 'tab-general');" id="general">General</button>
    {{if $.Details.HasBC}}
        <button class="tablinks" onclick="openTab(event, 'tab-acts');" id="acts">Birth certificate</button>
    {{end}}
    <button class="tablinks" onclick="openTab(event, 'tab-build');" id="build">Build history</button>
</div>

<div id="tab-general" class="tabcontent">
    <p>
        {{ template "person-general.html" $ }}
    </p>
</div>

{{if $.Details.HasBC}}
<div id="tab-acts" class="tabcontent">
    <p>
        {{ template "person-bc.html" $ }}
    </p>
</div>
{{end}}

<div id="tab-build" class="tabcontent">
    <p>
        {{ template "person-build.html" $ }}
    </p>
</div>

{{end}} {{/* with .Details.Person */}}

</div><!-- end class="person" -->
