{{/* 
    Called by person.html
    . of current template corresponds to . of person.html
*/}}

{{$bc := .Details.Person.Acts.Birth}}
{{/* <pre>{{$bc | prettyPrint}}</pre> */}}

<div class="flex-wrap">

    <div class="padding-right2 border-right">
        <!-- ********************************************************************************* -->
        <h2>Transcription</h2>
        Informations transcribed from this document
        {{with .Details.Person}}
        <table class="table-pres">
            <tr>
                <td>Official family name</td>
                <td>{{.Name.Official.Family}}</td>
            </tr>
            <tr>
                <td>Official given name</td>
                <td>{{.Name.Official.Given}}</td>
            </tr>
            <tr>
                <td>Birth date</td>
                <td>{{.Birth.Date}}</td>
            </tr>
            <tr>
                <td>Birth place</td>
                <td>{{.Birth.Place.Name}}</td>
            </tr>
            {{if .Birth.Note}}
            <tr>
                <td>Notes</td>
                <td>{{.Birth.Note}}</td>
            </tr>
            {{end}}
        </table>
        {{end}} {{/* with .Details.Person */}}
        {{if $bc.Extras}}
            <!-- ************************************* -->
            <h3>Other informations</h3>
            Informations not present in the document,
            <br>but added by the person who transcribed the act
            {{if $bc.Extras.Occus}}
                <div class="bold">Occupations</div>
                <ul class="margin-top0">
                {{ range $key, $value := $bc.Extras.Occus }}
                    <li><a href="/group/{{$value}}">{{$value | ucFirst}}</a></li>
                {{end}}
                </ul>
            {{end}}
        {{end}}
        
    </div>

    <div class="border-left padding-left2">
        <!-- ********************************************************************************* -->
        <h2>Information source</h2>
        {{with $bc.Source.CivilRegistry}}
        <table class="table-pres">
            <tr>
                <td>Type</td>
                <td>Birth certificate</td>
            </tr>
            {{if .Name}}
            <tr>
                <td>Name</td>
                <td>{{.Name}}</td>
            </tr>
            {{end}}
            <tr>
            {{if .Place}}
                <td>Place</td>
                <td>{{.Place}}</td>
            </tr>
            {{end}}
            {{if .Web}}
            <tr>
                <td>Internet availability</td>
                <td>
                    {{if .Web.URL}}
                        <div><a href="{{.Web.URL}}">Online civil registry</a></div>
                    {{end}}
                    {{if .Web.Page}}
                        <div>Page {{.Web.Page}}</div>
                    {{end}}
                </td>
            </tr>
            {{end}}
        </table>
        {{end}}
    </div>
    
    <div>
        {{if .Details.HasBC}}
            {{with .Details.WikiProjects}}
                <!-- ********************************************************************************* -->
                <h2>OGDB integration</h2>
                The addition of this birth certificate in opengauquelin database is part of the following projects: 
                <ul class="margin-top0">
                {{range . }}
                    <li><a href="/wiki/project/{{.Slug}}">{{.Name}}</a></li>
                {{end}}
            {{end}}
            </ul>
        {{end}}
    </div>

</div><!-- end flex-wrap -->

<!-- ********************************************************************************* -->
<!--                                    Act image                                      -->
<!-- ********************************************************************************* -->
{{if .Details.BCImageURLs}}
    {{range .Details.BCImageURLs}}
        <div><img
            class="margin05 border"
            style="max-width:90%; height:auto; width:auto;"
            src="{{.}}" alt="Original birth certificate">
        </div>
    {{end}}
{{end}}

<!-- ************************************* -->
<h3>History of this document</h3>
{{if $bc.Header.History}}{{with $bc.Header.History}}
    <ul class="margin-top0">
    {{ range $key, $value := . }}
        <li>{{.Date}}, {{.Actor}}: {{.Action}} </li>
    {{end}}
    </ul>
{{end}}{{end}}

