<script>
$(document).ready(function() {
    $('#persons').DataTable({
        "order": [[ 1, 'asc' ]],
        "pageLength": 50
    });
} );
</script>


<h1>Person list</h1>

<table id="persons" class="display" style="width:100%">
<thead>
    <tr>
        <th>Family name</th>
        <th>Given name</th>
        <th>Birth date</th>
        <th>Birth place</th>
        <th>Country</th>
    </tr>
</thead>
<tbody>

{{range .Details.Persons}}
<tr>
    <td><a href="/person/{{.Slug}}">{{.Name.Family}}</a></td>
    <td><a href="/person/{{.Slug}}">{{.Name.Given}}</a></td>
    <td>{{.GetBirthDate}}</td>
    <td>
        {{.Birth.Place.Name}}
        {{if .Birth.Place.C2}} ({{.Birth.Place.C2}}){{end}}
    </td>
    <td>{{.Birth.Place.Cy}}</td>
</tr>
{{end}} {{/* range .Details.Persons */}}

</tbody>
</table>    
