
<h1>Information sources</h1>

<div class="margin big2">
    This page shows the different sources used to build this database.
</div>

<style>
    #source-list td:nth-child(3){
        white-space:pre;
    }
    #source-list td.paragraph{
        font-size:1.3em;
        font-weight:bold;
        background:#bac1c4;
    }
</style>

<table id="source-list" class="wikitable margin alternate">
<thead>
    <tr>
        <th>Type</th>
        <th>Name</th>
        <th>Author(s)</th>
        <th>Description</th>
        <th>Parent sources</th>
    </tr>
</thead>
<tbody>
{{range .Details.Sources}}
    {{$slug := .Slug}}
    {{with index $.Details.Paragraphs .Slug}}
    <tr><td colspan="5" class="paragraph">
        {{index $.Details.Paragraphs $slug}}
    </td></tr>
    {{end}}
    <tr id="{{.Slug}}">
        <td>{{.Type}}</td>
        <td>{{.Name}}</td>
        <td>{{range .Authors}}<div>{{.}}</div>{{end}}</td>
        <td>{{nl2br .Description}}</td>
        <td>
            {{range .Parents}}
                <div><a href="#{{.}}">{{index $.Details.Slug_Name .}}</a></div>
            {{end}}
        </td>
    </tr>
{{end}} {{/* range .Details.Sources */}}
</tbody>
</table>    
