
<h1>Information sources</h1>

<div class="margin big2">
    This page shows the different sources used to build this database.
</div>

<style>
table#source-list td:nth-child(2){font-weight:bold;}
table#source-list td:nth-child(3){white-space:pre;}
</style>

<table id="source-list" class="wikitable margin alternate">
<thead>
    <tr>
        <th>Name</th>
        <th>Id</th>
        <th>Author(s)</th>
        <th>Description</th>
        <th>Parent sources</th>
    </tr>
</thead>
<tbody>
{{range .Details.Sources}}
    {{$slug := .Slug}}
    {{with index $.Details.Paragraphs .Slug}}
    <tr><td colspan="5" class="paragraph">
        {{index $.Details.Paragraphs $slug}}
    </td></tr>
    {{end}}
    <tr id="{{.Slug}}">
        <td>
            <div class="whitespace-pre">{{.Name}}</div>
            <div>({{.Type}})</div>
        </td>
        <td>{{.Slug}}</td>
        <td>{{range .Authors}}<div>{{.}}</div>{{end}}</td>
        <td>{{.Description}}</td>
        <td>
            {{range .Parents}}
                <div><a href="#{{.}}">{{/* index $.Details.Slug_Name .*/}}{{.}}</a></div>
            {{end}}
        </td>
    </tr>
{{end}} {{/* range .Details.Sources */}}
</tbody>
</table>    
