
<h1>Open Gauquelin Database statistics</h1>

{{with .Details.Stats}}

<style>
    table#global-stats td:nth-child(2){font-size:1.2rem;}
</style>

<table id="global-stats" class="table-pres">
    <tr>
        <td>Total number of persons</td>
        <td>{{numberFormat .N}}</td>
    </tr>
    <tr>
        <td>
            with birth time
        </td>
        <td>{{numberFormat .N_time}}</td>
    </tr>
    <tr>
        <td>
            without birth time
        </td>
        <td>{{numberFormat .N_day}}</td>
    </tr>
</table>

<!-- ********************************************************************************* -->
<h2>Repartition by country</h2>
<table class="wikitable">
<thead>
    <tr><th colspan="2">Country</th><th>N</th></tr>
</thead>
<tbody>
{{range $cy, $n := .Countries}}
    <tr>
        <td>{{$cy}}
        <td>{{index $.Details.CountryNames $cy}}</td>
        <td>{{numberFormat $n}}</td>
    </tr>    
{{end}}
</tbody>
</table>

<!-- ********************************************************************************* -->
<h2>Repartition by year</h2>
<table class="wikitable">
<thead>
    <tr><th>Year</th><th>N</th></tr>
</thead>
<tbody>
{{range $year, $n := .Years}}
    <tr><td>{{$year}}</td><td>{{numberFormat $n}}</td></tr>    
{{end}}
</tbody>
</table>

{{end}} {{/* with .Details.Stats */}}
