
<h1>
    Wiki
    <br><div class="warning inline-block padding2">Work in progress</div>
</h1>

<div class="intro">
The construction of a reliable database, verified by humans is a collective work.
<br>This page explains how to correct or complete the open Gauquelin database.
</div>

<div class="">
<b>Abbreviations</b>
<ul class="naked margin-top0">
    <li><b>BC</b>: Birth Certificate</li>
    <li><b>ogdb</b>: Open Gauquelin Data Base</li>
</ul>
</div>

To become a contributor:
<ol>
    <li>Choose a person from the database or a new famous person.</li>
    <li>Visit the online civil registry containing the birth certificate of the person.</li>
    <li>
        Fill a document, <b>BC.yml</b> (see below), containing:
        <ul>
            <li>A transcription of the informations contained in the BC.</li>
            <li>Precise indications permiting to easily consult the BC online.</li>
        </ul>
    </li>
    <li>Optionally, retrieve image(s) of the original act.</li>
    <li>
        Send it for addition in ogdb.
        <ul>
            <li>
                Send the files by email (see <a href="/about">Contact</a>)
            </li>
            <li>
                If you have a github account, you can make a pull request in the <a href="https://github.com/tig12/ogdb-wiki">ogdb wiki repository</a>
            </li>
        </ul>
    </li>
    
</ol>

{{/* 
<!-- ********************************************************************************* -->
<h2>BC.yml</h2>
*/}}

<!-- 
<div class="intro">
    If you are interested by this project, you can help.
</div>

<h2>Send feedback</h2>
Any feedback is welcome:
<ul class="spaced">
    <li>About the documentation: are there any typos, things difficult to understand, missing topics?</li>
    <li>About the downloadable data: is current format ok for you, do you need specific output?</li>
    <li>Or about any other topic related to this project.</li>
</ul>


<h2>Check and correct data</h2>
One of the next developments is to add wiki functionality to the database, to permit a collective building of reliable and verifiable data.
<br>The purpose is to relate each birth date to its corresponding birth certificate.
<br>Not operational yet.
-->