
{{with .Details.Project}}

<h1>
    Wiki project : {{.Name}}
</h1>

<div class="intro">{{.Description}}</div>

{{with .Issues}}
<div class="float-left">
Problems needing to be fixed within this project
<table>
    {{range .}}
    <tr>
        <td><a class="bold" href="/person/{{.PersonSlug}}">{{.PersonName.Usual}}</a></td>
        <td><a href="/person/{{.PersonSlug}}">{{.PersonBirth.Date}}</a></td>
    </tr>
    {{end}}
</table>
</div>
{{end}}

{{with .Persons}}
<div class="float-left">
Persons already associated to a birth certificate
<table>
{{printf "%+v" .}}
    {{range .}}
{{/* 
    <tr>
        <td><a class="bold" href="/person/{{.Slug}}">{{.Name.Given}} {{.Name.Family}}</a></td>
        <td>{{.Birth.Date}}</td>
    </tr>
*/}}
    {{end}}
</table>
</div>
{{end}}

{{end}} {{/* end with .Details.Project */}}
