
<h1>
    Wiki - Open Gauquelin Database
    <br><div class="inline-block warning" style="padding: 0.5rem;">Unfinished page</div>
</h1>

<div class="float-right margin padding margin-top0 padding-top0">
    <div class="right-box padding-bottom">
        <div class="bold center padding-top padding-bottom05">Active wiki projects</div>
        <ul class="margin0 naked">
        {{range $.Details.Projects }}
            <li class="padding-bottom05">
                <a href="/wiki/project/{{.Slug}}">{{.Name}}</a>
            </li>
        {{end}}
        </ul>
    </div>

</div><!-- end class="float-right" -->

<div class="intro">
The construction of a reliable database, verified by humans, is a collective work.
<br>This page explains how to correct or complete the open Gauquelin database.
</div>

<div>
    <b>Abbreviations</b>
    <ul class="naked margin-top0">
        <li><b>BC</b>: Birth Certificate</li>
    </ul>
</div>

<!-- ********************************************************************************* -->
<h2 id="contribute">How to contribute ?</h2>
To become a contributor:
<ol>
    <li>Choose a person from the database or a new famous person.</li>
    <li>Visit the online civil registry containing the birth certificate of the person.</li>
    <li>
        Fill a document, <b>BC.yml</b>, containing:
        <ul>
            <li>A transcription of the informations contained in the BC.</li>
            <li>Precise indications permiting to easily consult the BC online.</li>
        </ul>
    </li>
    <li>Optionally, retrieve image(s) of the original act.</li>
    <li>
        Send it for addition in ogdb.
        <ul>
            <li>
                Send the files by email (see <a href="/about">Contact</a>)
            </li>
            <li>
                If you have a github account, you can make a pull request in the <a href="https://github.com/tig12/ogdb-wiki">ogdb wiki repository</a>
            </li>
        </ul>
    </li>
    
</ol>
