
<h1>
    Wiki
    <br>Participate
</h1>

<div class="intro">
    If you are interested by this project, you can help.
</div>

<!-- ********************************************************************************* -->
<h2>Send feedback</h2>
Any feedback is welcome:
<ul class="spaced">
    <li>About the documentation: are there any typos, things difficult to understand, missing topics?</li>
    <li>About the downloadable data: is current format ok for you, do you need specific output?</li>
    <li>Or about any other topic related to this project.</li>
</ul>


<!-- ********************************************************************************* -->
<h2>Check and correct data</h2>
One of the next developments is to add wiki functionality to the database, to permit a collective building of reliable and verifiable data.
<br>The purpose is to relate each birth date to the corresponding birth certificate.
<br>Not operational yet.
