
{{with .Details.Project}}

<h1>
    Wiki project : {{.Name}}
</h1>

<div class="intro">{{.Description | safeHTML}}</div>

<style>
    .wikiproject-container{
        justify-content:space-around;
        margin-top:3rem;
    }
</style>

<div class="flex-wrap wikiproject-container">
<div class="margin-right">
    <div class="big1 bold margin-bottom2">Persons needing to be fixed within this project</div>
    {{with .Issues}}
        <table>
            {{range .}}
            <tr>
                <td><a class="bold" href="/person/{{.PersonSlug}}">{{.PersonName.Usual}}</a></td>
                <td><a href="/person/{{.PersonSlug}}">{{.PersonBirth.Date}}</a></td>
            </tr>
            {{end}}
        </table>
    {{else}}
        <div class="big1">No problem associated with this project</div>
    {{end}}
</div>



    <div class="margin-left">
        <div class="big1 bold margin-bottom2">Persons already fixed (associated to a birth certificate)</div>
        {{with .Persons}}
        <table>
            {{range .}}
                <tr>
                    <td><a class="bold" href="/person/{{.Slug}}">{{.Name.Given}} {{.Name.Family}}</a></td>
                    <td class="padding-left">{{.Birth.Date}}</td>
                </tr>
            {{end}}
        </table>
        {{else}}
            <div class="big1">No birth certificate associated with this project</div>
        {{end}}
    </div>
</div><!-- end class="flex-wrap" -->

{{end}} {{/* end with .Details.Project */}}
