

# Prevent directory listing
# Options -Indexes

RewriteEngine On

RewriteBase /

# Serve existing resource or redirect everything to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [QSA,L]
